{% extends 'base.html.twig' %}

{% block title %}Page index{% endblock %}

{% block body %}
<main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">
            <ol>
                <li><a href="{{ path('app_home') }}">Home</a></li>
                <li><a href="{{ path('app_profile') }}">Dashboard</a></li>
                <li><a href="{{ path('page_index') }}">Pages</a></li>
                <li>Répértoire</li>
            </ol>
            <h1>Gestion des pages</h1>
        </div>
    </section><!-- End Breadcrumbs -->
    <section class="inner-page">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    {% include('layouts/_dash_sidebar.html.twig') %}
                </div>
                <div class="col-md-9">
                    <a class="btn app-btn-primary mb-4" href="{{ path('page_new') }}">
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-file-earmark-arrow-down me-2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path d="M8 0a1 1 0 0 1 1 1v6h6a1 1 0 1 1 0 2H9v6a1 1 0 1 1-2 0V9H1a1 1 0 0 1 0-2h6V1a1 1 0 0 1 1-1z"/>
                        </svg>Ajouter
                    </a>
                    <table class="table" id="datatable">
                        <thead>
                        <tr>
                            <th>Title</th>
                            <th>Content</th>
                            <th>Style</th>
                            <th>Type</th>
                            <th>Slug</th>
                            <th>Images</th>
                            <th>actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for page in pages %}
                            <tr>
                                <td><a href="{{ path('page_show', {slug: page.slug})}}">{{ page.title }}</a></td>
                                <td>{{ page.content|slice(0, 250)|raw }}...</td>
                                <td>{{ page.style }}</td>
                                <td>
                                    {% if page.type  == '1' %}
                                        Page Candidat
                                    {% elseif page.type  == '2' %}
                                        Page Recruteur
                                    {% elseif page.type  == '3' %}
                                        Page Autre
                                    {% endif %}
                                </td>
                                <td>{{ page.slug }}</td>
                                <td>
                                    {% if page.files|length %}
                                        <img class="card-img-top mx-auto" style="width:100px" src="{{ asset(page.getUrlLastFile()) }}" alt="{{ page.getNameLastFile() }}">
                                    {% endif %}
                                </td>
                                <td>
                                    <div class="d-flex justify-content-around">
                                        <a href="{{ path('page_edit', {'id': page.id}) }}" class="d-flex align-items-center"><i class="fas fa-edit"></i></a>
                                        {{ include('page/_delete_form.html.twig') }}
                                    </div>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="10">no records found</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}
