{% if page.getTypeRecruteur() %}
    {% set url = 'base-recruteur.html.twig' %}
{% else %}
    {% set url = 'base.html.twig' %}
{% endif %}

{% extends url %}

{% block title %}{{ page.title }}{% endblock %}

{% block body %}
<main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">
            <ol>
                <li><i class="bi bi-house"></i><a href="{{ path('app_home') }}"> Home</a></li>
            </ol>
            <h1>{{ page.title }}</h1>
        </div>
    </section><!-- End Breadcrumbs -->
    <section id="portfolio-details" class="portfolio-details">
        <div class="container">
            <div class="row gy-4">
                <div class="col-lg-8">
                    {{ page.content|raw }}
                </div>
                <div class="col-lg-4">
                    {% if page.files|length %}
                        <div class="portfolio-info">
                            <img class="card-img-top mx-auto" src="{{ asset(page.getUrlLastFile()) }}" alt="{{ page.getNameLastFile() }}">
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row mb-2">
                {% if articles|length %}
                    {% for article in articles %}
                        <div class="col">
                            <div class="card flex-md-row mb-4 box-shadow h-md-250">
                                <div class="card-body d-flex flex-column align-items-start">
                                    <div class="d-inline-block mb-2 text-primary">{{ article.categorie }}</div>
                                    <h3 class="mb-0">
                                        <a class="text-dark" href="#">{{ article.title|length > 50 ? article.title|slice(0, 50) ~ '...' : article.title }}</a>
                                    </h3>
                                    <div class="mb-1 text-muted"><i class="bi bi-calendar-check"></i> {{ article.createdAt|date('d-m-Y') }}</div>
                                    <div class="card-text mb-auto">{{ article.content|slice(0, 100)|raw }}</div>
                                    <a class="{{ article.id }}" href="{{ path('article_show', {'slug': article.slug}) }}">Lire plus</a>
                                </div>
                                <div style=" width: 300px; height: 250px; background: url({{ asset(article.getUrlLastFile()) }}); background-size: cover; background-position: center"></div>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </section>

    <!---Conseils Carrière---->
    <section>
        <div class="container">
            <div class="row mb-2">
                {% if conseils|length %}
                    {% for conseil in conseils %}
                        <div class="col">
                            <div class="card flex-md-row mb-4 box-shadow h-md-250">
                                <div class="card-body d-flex flex-column align-items-start">
                                    <div class="d-inline-block mb-2 text-primary">{{ conseil.categorie }}</div>
                                    <h3 class="mb-0">
                                        <a class="text-dark" href="#">{{ conseil.title|length > 50 ? conseil.title|slice(0, 50) ~ '...' : conseil.title }}</a>
                                    </h3>
                                    <div class="mb-1 text-muted"><i class="bi bi-calendar-check"></i> {{ conseil.createdAt|date('d-m-Y') }}</div>
                                    <div class="card-text mb-auto">{{ conseil.content|slice(0, 100)|raw }}</div>
                                    <a class="{{ conseil.id }}" href="{{ path('article_show', {'slug': conseil.slug}) }}">Lire plus</a>
                                </div>
                                <div style=" width: 300px; height: 250px; background: url({{ asset(conseil.getUrlLastFile()) }}); background-size: cover; background-position: center"></div>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </section>
</main>
{% endblock %}
