{{ form_start(form) }}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h3>Identification</h3>
            {{ form_row(form.civilite) }}
            {{ form_row(form.description) }}
            {{ form_row(form.birthdate) }}
            {{ form_row(form.isRqth) }}
            {{ form_row(form.isVisible) }}
            {{ form_row(form.isAmenagement) }}
            {{ form_row(form.diplome) }}
            {{ form_row(form.experiences) }}
            {{ form_row(form.metiers) }}
            {{ form_row(form.zoneDeRecherche) }}
            {{ form_row(form.portfolio) }}
        </div>
        <div class="col-md-6">
            <h3>CV</h3>
            {{ form_row(form.cv) }}
            <h3>Adresse</h3>
            <div id="adresse" data-prototype="{{ form_row(form.adresse.vars.prototype)|e('html_attr') }}">
                {{ form_row(form.adresse) }}
                <span></span>
            </div>
        </div>
    </div>
    <input type="submit" value="Enregistrer" class="bouton solid" />
</div>
{{ form_end(form) }}


<style>
    #profile_birthdate_time_hour{
        display: none;
    }
    div.sr-only{
        display: none;
    }
</style>