<!-- ======= Services Section ======= -->
<section id="services" class="services section-bg">
    <div class="container" data-aos="fade-up">

        {{ include('home/_search.html.twig') }}

        <div class="section-title mt-3">
            <h2>Dernières offres d'emploi</h2>
            <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
        </div>

        <div class="row">
            {% for annonce in annonces %}
                <div class="row bg-white p-3 m-1">
                    <div class="col-md-4">
                        <h5><a href="{{ path('annonce_show_unit', {id:annonce.id, slug:annonce.slug}) }}">{{ annonce.name }}</a></h5>
                    </div>
                    <div class="col-md-4">
                        {% if annonce.experience %}
                            <span class="btn-secondary btn-sm">{{ annonce.experience }}</span>
                        {% endif %}
                        {% if annonce.entreprise.secteur %}
                            <span class="btn-secondary btn-sm">{{ annonce.entreprise.secteur }}</span>
                        {% endif %}
                        {% for typ in annonce.typeContrat %}
                            <span class="btn-secondary btn-sm">{{ typ.value }}</span>
                        {% endfor %}

                    </div>
                    <div class="col-md-2">
                        Date limite de candidature <br>
                        <b>{{ annonce.dateLimiteCandidature|date('d-m-Y') }}</b>
                    </div>
                    <div class="col-md-2">
                        <a href="{{ path('entreprise_show_unit', {id:annonce.entreprise.id, slug:annonce.entreprise.slug}) }}">{{ annonce.entreprise.name }}</a><br>
                        <span></span><br>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section><!-- End Services Section -->