{% extends 'base-recruteur.html.twig' %}

{% block title %}Recrutez des personnes handicapées avec HandiCV{% endblock %}

{% block body %}
    {{ include('home/_hero_recruteur.html.twig') }}
    <main>
        {{ include('home/_services_recruteur.html.twig') }}
        {{ include('home/_search.html.twig') }}
        {{ include('home/_competences.html.twig') }}
        {{ include('home/_offres.html.twig') }}
        {{ include('home/_lesplus.html.twig') }}
        {{ include('home/_contact.html.twig') }}

    </main>

{% endblock %}
