{% extends 'base.html.twig' %}

{% block title %}Recrutez des personnes handicapées avec HandiCV{% endblock %}

{% block body %}
    {{ include('home/_hero.html.twig') }}
    <main>
        {{ include('home/_clients.html.twig') }}
        {{ include('home/_services.html.twig') }}
        {{ include('home/_search.html.twig') }}
        {{ include('home/_annonces.html.twig') }}
        {{ include('home/_actualités.html.twig') }}
        {{ include('home/_scores.html.twig') }}
    </main>

{% endblock %}
