{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <main id="main">
    <!-- ======= Breadcrumbs ======= -->
        <section id="breadcrumbs" class="breadcrumbs">
            <div class="container">
                <ol>
                    <li><a href="{{ path('app_home') }}">Home</a></li>
                </ol>
                <h1>Créer un compte</h1>
            </div>
        </section><!-- End Breadcrumbs -->
        <section class="inner-page">
            <div class="container">
                <div class="row">

                    {% for flashError in app.flashes('verify_email_error') %}
                        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
                    {% endfor %}
                        {% if app.user %}
                            <div class="mb-3">
                                You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                            </div>
                            {% else %}
                                <h1>Inscription</h1>

                                {{ form_start(registrationForm) }}

                                    {{ form_row(registrationForm.email) }}
                                    {{ form_row(registrationForm.firstname) }}
                                    {{ form_row(registrationForm.lastname) }}
                                    {{ form_row(registrationForm.password) }}
                                    {{ form_label(registrationForm.agreeTerms) }}
                                    {{ form_errors(registrationForm.agreeTerms) }}
                                {#{{ form_widget(registrationForm.agreeTerms) }}#}

                                <fieldset class="sweet-candy">
                                    {{ form_label(registrationForm.phone) }}
                                    {{ form_errors(registrationForm.phone) }}
                                    {{ form_widget(registrationForm.phone) }}
                                </fieldset>
                                <fieldset class="sweet-candy">
                                    {{ form_label(registrationForm.faxNumber) }}
                                    {{ form_errors(registrationForm.faxNumber) }}
                                    {{ form_widget(registrationForm.faxNumber) }}
                                </fieldset>

                                <button type="submit" class="btn btn-primary mt-2">Valider</button>
                                {{ form_end(registrationForm) }}
                           {% endif %}
                </div>
            </div>
        </section>
    </main>
{% endblock %}

{% form_theme registrationForm _self %}
{% block _registration_form_agreeTerms_widget %}
    <input type="checkbox" id="registration_form_agreeTerms" name="registration_form[agreeTerms]" required="required" class="form-check-input" value="1">
    <label class="form-check-label required" for="registration_form_agreeTerms">
        J'accepte les conditions d'utilisation <a href="#">TOTO</a>
    </label>

{% endblock %}
