{% extends 'base.html.twig' %}

{% block title %}Annuaire | {{ annuaire.title }}{% endblock %}

{% block body %}
    <main id="main">
        <!-- ======= Breadcrumbs ======= -->
        <section id="breadcrumbs" class="breadcrumbs">
            <div class="container">
                <ol>
                    <li><a href="{{ path('app_home') }}">Home</a></li>
                </ol>
                <h1>{{ annuaire.title }}</h1>
            </div>
        </section><!-- End Breadcrumbs -->
        <section id="portfolio-details" class="portfolio-details">
            <div class="container">
                <div class="row gy-4">
                    <div class="col-lg-8">
                        {{ annuaire.content|raw }}
                    </div>
                    <div class="col-lg-4">
                        <div class="portfolio-info">
                            <i class="bi bi-house"></i>
                            <div>{{ annuaire.addresse }}</div>
                            <div>{{ annuaire.city }}</div>
                            <div>{{ annuaire.codePostal }}</div>
                            <hr>
                            <i class="bi bi-link-45deg"></i>
                            <div><a href="{{ annuaire.webLink }}" target="_blank">{{ annuaire.webLink }}</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </section><!-- End Portfolio Details Section -->
    </main>
{% endblock %}
