<!-- ======= Footer ======= -->
<footer id="footer">

    <div class="footer-newsletter">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <h4>Rejoignez notre newsletter</h4>
                    <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p>
                    <form action="" method="post">
                        <input type="email" name="email"><input type="submit" value="S'inscrire">
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-top">
        <div class="container">
            <div class="row">
                {% if contenu %}
                <div class="col-lg-3 col-md-6 footer-contact">
                    <h3>{{ contenu.name }}</h3>
                    {{ contenu.contenu|raw }}
                </div>
                {% endif %}
                {% for footer in footers %}
                    {% set menuN2 = menuRepository.getNiveauMenu(footer, 2) %}
                    <div class="col-lg-3 col-md-6 footer-links">
                    <h4>{{ footer.name }}</h4>
                        {% if menuN2|length %}
                            <ul>
                                {% for _footer in menuN2 %}
                                <li><i class="bx bx-chevron-right"></i> <a href="../../{{ _footer.link }}">{{ _footer.name }}</a></li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                </div>
                {% endfor %}

                <div class="col-lg-3 col-md-6 footer-links">
                    {% if presentationRs %}
                    <h4>{{ presentationRs.name }}</h4>
                        {{ presentationRs.contenu|raw }}
                    {% endif %}
                    <div class="social-links mt-3">
                        {% if twitter %}
                        <a href="{{ twitter.link }}" class="twitter" target="_blank"><i class="bx bxl-twitter"></i></a>
                        {% endif %}
                        {% if facebook %}
                        <a href="{{ facebook.link }}" class="facebook" target="_blank"><i class="bx bxl-facebook"></i></a>
                        {% endif %}
                        {% if instagram %}
                        <a href="{{ instagram.link }}" class="instagram" target="_blank"><i class="bx bxl-instagram"></i></a>
                        {% endif %}
                        {% if skype %}
                        <a href="{{ skype.link }}" class="google-plus" target="_blank"><i class="bx bxl-skype"></i></a>
                        {% endif %}
                        {% if linkedin %}
                        <a href="{{ linkedin.link }}#" class="linkedin" target="_blank"><i class="bx bxl-linkedin"></i></a>
                        {% endif %}
                        {% if youtube %}
                            <a href="{{ youtube.link }}" class="-youtube" target="_blank"><i class="bx bxl-youtube"></i></a>
                        {% endif %}
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="container footer-bottom clearfix">
        <div class="copyright">
            &copy; Copyright <strong><span>HandiCV</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
            <!-- All the links in the footer should remain intact. -->
            <!-- You can delete the links only if you purchased the pro version. -->
            <!-- Licensing information: https://bootstrapmade.com/license/ -->
            <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/arsha-free-bootstrap-html-template-corporate/ -->
            Designed by <a href="https://www.talents-handicap.com/" target="_blank">Talents Handicap</a>
        </div>
    </div>
</footer><!-- End Footer -->

{# <div id="preloader"></div> #}
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
