<div class="row section-bg p-3 m-1" id="annonce-{{ annonce.id }}">
    <div>
        <h5>
            <a href="{{ path('annonce_show_unit', {id:annonce.id, slug:annonce.slug}) }}">{{ annonce.name }}</a>
        </h5>
    </div>
    <div>
        {% if annonce.experience %}
            <span class="badge bg-secondary">{{ annonce.experience }}</span>
        {% endif %}
        {% if annonce.entreprise.secteur %}
            <span class="badge bg-secondary">{{ annonce.entreprise.secteur }}</span>
        {% endif %}
        {% for typ in annonce.typeContrat %}
            <span class="badge bg-secondary">{{ typ.value }}</span>
        {% endfor %}

    </div>
    <div>
        Date limite de candidature <br>
        <b>{{ annonce.dateLimiteCandidature|date('d-m-Y') }}</b>
    </div>
    <div>
        Par <a href="{{ path('entreprise_show_unit', {id:annonce.entreprise.id, slug:annonce.entreprise.slug}) }}">{{ annonce.entreprise.name }}</a><br>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt" viewBox="0 0 16 16">
            <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z"/>
            <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
        </svg> {% for adresse in annonce.adresse %}{{ adresse.city }}{% endfor %}
    </div>
    <div class="float-right mt-4">
        {% if is_granted('ROLE_CANDIDAT') %}
            {% set isFavorite = false %}
            {% for favoris in annonce.favoris %}
                {% if favoris.id == app.user.id %}
                    {% set isFavorite = true %}
                {% endif %}
            {% endfor %}
            {% if isFavorite %}
                <a href="{{ path('annonce_retrait_favoris', {id: annonce.id}) }}"><i class="fas fa-heart"></i> en mémoire</a>
            {% else %}
                <a href="{{ path('annonce_ajout_favoris', {id: annonce.id}) }}"><i class="far fa-heart"></i> mettre en mémoire</a>
            {% endif %}
        {% endif %}
    </div>
</div>