<div class="row section-bg p-3 m-1" id="annonce-{{ annonce.id }}">
    <div>
        <h5>
            <a href="{{ path('annonce_show_unit', {id:annonce.id, slug:annonce.slug}) }}">{{ annonce.name }}</a>
        </h5>
    </div>
    <div>
        {% if annonce.experience %}
            <span class="btn-secondary btn-sm">{{ annonce.experience }}</span>
        {% endif %}
        {% if annonce.entreprise.secteur %}
            <span class="btn-secondary btn-sm">{{ annonce.entreprise.secteur }}</span>
        {% endif %}
        {% for typ in annonce.typeContrat %}
            <span class="btn-secondary btn-sm">{{ typ.value }}</span>
        {% endfor %}

    </div>
    <div>
        Date limite de candidature <br>
        <b>{{ annonce.dateLimiteCandidature|date('d-m-Y') }}</b>
    </div>
    <div>
        Par <a href="{{ path('entreprise_show_unit', {id:annonce.entreprise.id, slug:annonce.entreprise.slug}) }}">{{ annonce.entreprise.name }}</a><br>
        <span></span><br>
    </div>
    <div class="float-right">
        {% if app.user.isCandidat() %}
            {% set isFavorite = false %}
            {% for favoris in annonce.favoris %}
                {% if favoris.id == app.user.id %}
                    {% set isFavorite = true %}
                {% endif %}
            {% endfor %}
            {% if isFavorite %}
                <a href="{{ path('annonce_retrait_favoris', {id: annonce.id}) }}"><i class="fas fa-heart"></i> en mémoire</a>
            {% else %}
                <a href="{{ path('annonce_ajout_favoris', {id: annonce.id}) }}"><i class="far fa-heart"></i> mettre en mémoire</a>
            {% endif %}
        {% endif %}
    </div>
</div>