{% form_theme form _self %}
{{ form_start(form) }}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            {{ form_errors(form) }}
            {{ form_row(form.message) }}
        </div>
    </div>
    <button class="btn btn-primary mt-3" type="submit">{{ button_label|default('Envoyer') }}</button>
</div>
{{ form_end(form, {'render_rest': false}) }}
