<div class="tab-pane fade" id="orders-pending" role="tabpanel" aria-labelledby="orders-pending-tab">
    <div class="app-card app-card-orders-table mb-5">
        <div class="app-card-body">
            <div class="table-responsive">
                <table class="table" id="datatableArchives">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Entreprises</th>
                        <th>Ville</th>
                        <th>Date de publication</th>
                        <th>Statut</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for annonce in archives %}
                        <tr>
                            <td><a href="{{ path('annonce_show_unit', {id: annonce.id, slug: annonce.slug})}}">{{ annonce.name }}</a></td>
                            <td>{{ annonce.entreprise }}</td>
                            <td>
                                {% for adress in annonce.adresse %}
                                    {{ adress.city }}
                                {% endfor %}
                            </td>
                            <td>{{ annonce.createdAt|date('d/m/Y') }}</td>
                            <td>
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" {{ (annonce.isActive) ? 'checked' : ''}} data-id="{{annonce.id}}"/>
                                    <label class="form-switch mt-2">
                                        <span class="slider"></span>
                                        {% if annonce.isActive  ? 'checked'%}
                                            publiée
                                        {% else %}
                                            non publiée
                                        {% endif %}
                                    </label>
                                </div>
                            </td>
                            <td>
                                <div class="d-flex justify-content-around">
                                    <a href="{{ path('annonce_edit', {'id': annonce.id}) }}" class="d-flex align-items-center"><i class="fas fa-edit"></i></a>
                                    {{ include('annonce/_delete_form.html.twig') }}
                                </div>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="4">no records found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready( function () {
        $('#datatableArchives').DataTable({
            "language": {
                "sProcessing": "Traitement en cours ...",
                "sLengthMenu": "Afficher _MENU_ lignes",
                "sZeroRecords": "Aucun résultat trouvé",
                "sEmptyTable": "Aucune donnée disponible",
                "sInfo": "Lignes _START_ à _END_ sur _TOTAL_",
                "sInfoEmpty": "Aucune ligne affichée",
                "sInfoFiltered": "(Filtrer un maximum de_MAX_)",
                "sInfoPostFix": "",
                "sSearch": "Chercher:",
                "sUrl": "",
                "sInfoThousands": ",",
                "sLoadingRecords": "Chargement...",
                "oPaginate": {
                    "sFirst": "Premier", "sLast": "Dernier", "sNext": "Suivant", "sPrevious": "Précédent"
                },
                "oAria": {
                    "sSortAscending": ": Trier par ordre croissant", "sSortDescending": ": Trier par ordre décroissant"
                }
            }
        });
    });
</script>