{% extends 'base.html.twig' %}

{% block javascripts %}
    {% include ('adresse/jquery.html.twig') %}
{% endblock %}

{% block title %}Edit Annonce{% endblock %}

{% block body %}
<main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">
            <ol>
                <li><a href="{{ path('app_home') }}">Home</a></li>
                <li><a href="{{ path('app_profile') }}">Dashboard</a></li>
                <li><a href="{{ path('annonce_index') }}">Offres d'emploi</a></li>
                <li>Modification</li>
            </ol>
            <h1>{{ annonce.name }}</h1>
        </div>
    </section><!-- End Breadcrumbs -->
    <section class="inner-page">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    {% include('layouts/_dash_sidebar.html.twig') %}
                </div>
                <div class="col-md-9">
                    {{ include('annonce/_form.html.twig')}}
                </div>
            </div>
        </div>
    </section>
</main>
    {% include 'adresse/_script.html.twig' %}
    {% include 'annonce/_script.html.twig' %}
    {{ render(controller('App\\Controller\\AdresseController::addEntite',{'entite' : 'annonce' })) }}
{% endblock %}
