{% extends 'base.html.twig' %}

{% block title %}Offres d'emploi{% endblock %}

{% block body %}
<main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">
            <ol>
                <li><a href="{{ path('app_home') }}">Home</a></li>
                <li><a href="{{ path('app_profile') }}">Dashboard</a></li>
                <li><a href="{{ path('annonce_index') }}">Offres d'emploi</a></li>
                <li>Répértoire</li>
            </ol>
            <h1>Gestion des offres d'emploi</h1>
        </div>
    </section><!-- End Breadcrumbs -->
    <section class="inner-page">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    {%  if app.user.isSuperAdmin() %}
                        <a class="btn btn-primary btn-sm mb-4" href="{{ path('annonce_new') }}">Ajouter</a>
                        <div class="p-3 border bg-light">
                            <b>{{ pluralize(annonces|length, 'annonce') }} enregistrées </b>
                        </div>
                    {% else %}
                        {% if app.user.getNbrAnnoncesMaxi() > annonces.totalItemCount %}
                            <a class="btn btn-primary btn-sm mb-4" href="{{ path('annonce_new') }}">Ajouter</a><br/>
                        {% endif %}
                        <div class="p-3 border bg-light">
                            <b>{{ pluralize(annonces|length, 'annonce') }} enregistrées </b>
                        </div>
                        <div class="p-3 border bg-light">
                            {% for entreprise in app.user.getEntrepriseAll() %}
                                <b>{{ entreprise.name }} : </b>{{ entreprise.getNumberAnnonces() }}/{{ entreprise.getMaxAnnonces() }} Annonces

                                {#{% if entreprise.canCreateAnnonce() %}
                                    <a class="btn btn-primary btn-sm mb-1" href="{{ path('annonce_new') }}">Créer une offre d'emploi</a><br/>
                                {% endif %}#}
                            {% endfor %}
                        </div>
                    {% endif %}
                    <br>
                </div>
                <div class="col-md-9">
                    {#{{ form(form) }}#}
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Entreprises</th>
                            <th>Date de publication</th>
                            <th>Active</th>
                            <th>actions</th>

                        </tr>
                        </thead>
                        <tbody>
                        {% for annonce in annonces %}
                            <tr>
                                <td><a href="{{ path('annonce_show_unit', {id: annonce.id, slug: annonce.slug})}}">{{ annonce.name }}</a></td>
                                <td>{{ annonce.description|striptags|slice(0, 150) }}...</td>
                                <td>{{ annonce.entreprise }}</td>
                                <td>{{ annonce.createdAt|date('d/m/Y') }}</td>
                                <td>
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" {{ (annonce.isActive) ? 'checked' : ''}} data-id="{{annonce.id}}"/>
                                        <label class="form-check-label" for="flexSwitchCheckDefault">
                                            {% if annonce.isActive  ? 'checked'%}
                                                publiée
                                            {% else %}
                                                non publiée
                                            {% endif %}
                                        </label>
                                    </div>
                                </td>
                                <td>
                                    <a href="{{ path('annonce_edit', {'id': annonce.id}) }}"><i class="fas fa-edit"></i></a>
                                    {{ include('annonce/_delete_form.html.twig') }}
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="4">no records found</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    {{ knp_pagination_render(annonces, 'Pagination/twitter_bootstrap_v4_pagination.html.twig') }}
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}
