{% extends 'base.html.twig' %}
{% block title %}Offres d'emploi{% endblock %}

{% block body %}
<main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">
            <ol>
                <li><a href="{{ path('app_home') }}">Home</a></li>
                <li><a href="{{ path('app_profile') }}">Dashboard</a></li>
                <li><a href="{{ path('annonce_index') }}">Offres d'emploi</a></li>
                <li>Répértoire</li>
            </ol>
            <h1>Gestion des offres d'emploi</h1>
        </div>
    </section><!-- End Breadcrumbs -->
    <section class="inner-page">
        <div class="container">
           {# <div class="row">
                <div class="col-md-3">
                    {%  if app.user.isSuperAdmin() %}
                        <div class="p-3 border bg-light">
                            <b>{{ pluralize(annonces|length, 'annonce') }} enregistrées </b>
                        </div>
                    {% else %}
                        {% if app.user.getNbrAnnoncesMaxi() > annonces.totalItemCount %}
                            <a class="btn btn-primary btn-sm mb-4" href="{{ path('annonce_new') }}">Ajouter</a><br/>
                        {% endif %}
                        <div class="p-3 border bg-light">
                            <b>{{ pluralize(annonces|length, 'annonce') }} enregistrées </b>
                        </div>
                        <div class="p-3 border bg-light">
                            {% for entreprise in app.user.getEntrepriseAll() %}
                                <b>{{ entreprise.name }} : </b>{{ entreprise.getNumberAnnonces() }}/{{ entreprise.getMaxAnnonces() }} annonces<br>
                            {% endfor %}
                        </div>
                    {% endif %}
                    {% include('annonce/menu.html.twig') %}
                    <br>
                </div>
                <div class="col-md-9">
                </div>
            </div>#}
            <div class="row">
                <div class="col-md-3">
                    {% include('layouts/_dash_sidebar.html.twig') %}
                </div>
                <div class="col-md-9">
                    <a class="btn app-btn-primary mb-4" href="{{ path('annonce_new') }}">
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-file-earmark-arrow-down me-2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path d="M8 0a1 1 0 0 1 1 1v6h6a1 1 0 1 1 0 2H9v6a1 1 0 1 1-2 0V9H1a1 1 0 0 1 0-2h6V1a1 1 0 0 1 1-1z"/>
                        </svg>Ajouter
                    </a>
                    <nav id="orders-table-tab" class="orders-table-tab app-nav-tabs nav shadow-sm flex-column flex-sm-row mb-4">
                        <a class="flex-sm-fill text-sm-center nav-link active" href="{{ path('annonce_index') }}" role="tab" aria-controls="orders-all" aria-selected="true">Toutes</a>
                        <a class="flex-sm-fill text-sm-center nav-link" href="{{ path('annonce_attente') }}" role="tab" aria-controls="orders-paid" aria-selected="false">En attente de publication</a>
                        <a class="flex-sm-fill text-sm-center nav-link" href="{{ path('annonce_archives') }}" role="tab" aria-controls="orders-pending" aria-selected="false">Archivées</a>
                    </nav>
                    <div id="swup" class="transition-fade">
                        <!--Toutes-->
                        {% include('annonce/toutes.html.twig') %}
                        <!--//Toutes-->
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
    <script>
        window.onload = () => {
            let activer = document.querySelectorAll("[type=checkbox]")
            for (let bouton of activer) {
                bouton.addEventListener("click", function () {
                    let xmlhttp = new XMLHttpRequest;
                    xmlhttp.open("get", `/cms/annonce/activer/${this.dataset.id}`)
                    xmlhttp.send()
                })
            }
        }
    </script>
{% endblock %}
