{% extends 'base.html.twig' %}
{% block title %}Offres d'emploi | Recherche avancée{% endblock %}

{% block body %}
    <main id="main">
        <!-- ======= Breadcrumbs ======= -->
        <section id="breadcrumbs" class="breadcrumbs">
            <div class="container">
                <ol>
                    <li><a href="{{ path('app_home') }}">Home</a></li>
                    <li>Offres d'emploi</li>
                </ol>
                <h1>Recherche avancée</h1>
            </div>
        </section><!-- End Breadcrumbs -->

        <section class="inner-page">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        {% include 'search/filtrer.html.twig' %}
                    </div>
                    <div class="col-md-9">
                        {% for annonce in annonces %}
                            <div class="row section-bg p-3 m-1">
                                <div class="col-md-4">
                                    <h5>
                                        <a href="{{ path('annonce_show_unit', {id:annonce.id, slug:annonce.slug}) }}">{{ annonce.name }}</a>
                                    </h5>
                                </div>
                                <div class="col-md-4">
                                    {% if annonce.experience %}
                                        <span class="btn-secondary btn-sm">{{ annonce.experience }}</span>
                                    {% endif %}
                                    {% if annonce.entreprise.secteur %}
                                        <span class="btn-secondary btn-sm">{{ annonce.entreprise.secteur }}</span>
                                    {% endif %}
                                    {% for typ in annonce.typeContrat %}
                                        <span class="btn-secondary btn-sm">{{ typ.value }}</span>
                                    {% endfor %}
                                    {% if annonce.entreprise.city %}
                                        <span class="btn-secondary btn-sm">{{ annonce.entreprise.city }}</span>
                                    {% endif %}
                                </div>
                                <div class="col-md-2">
                                    Date limite de candidature <br>
                                    <b>{{ annonce.dateLimiteCandidature|date('d-m-Y') }}</b>
                                </div>
                                <div class="col-md-2">
                                    <a href="{{ path('entreprise_show_unit', {id:annonce.entreprise.id, slug:annonce.entreprise.slug}) }}">{{ annonce.entreprise.name }}</a><br>
                                    <span>{{ annonce.entreprise.city }}</span><br>
                                </div>
                            </div>
                        {% endfor %}
                        <div class="mt-3">
                            {{ knp_pagination_render(annonces) }}
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}