{% extends 'base.html.twig' %}
{% set queryParams = app.request.query.all %}
{% block title %}Offres d'emploi | Recherche avancée{% endblock %}

{% block body %}
    <main id="main">
        <!-- ======= Breadcrumbs ======= -->
        <section id="breadcrumbs" class="breadcrumbs">
            <div class="container">
                <ol>
                    <li><i class="bi bi-house"></i><a href="{{ path('app_home') }}"> Home</a></li>
                    <li>Offres d'emploi</li>
                </ol>
                <h1>Recherche avancée</h1>
            </div>
        </section><!-- End Breadcrumbs -->

        <section class="inner-page">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <p>Filtrer</p>
                        <form id="filters">
                            {% for entreprise in entreprises %}
                                {% if queryParams is not empty and queryParams.entreprises is not empty %}
                                    {% set checked = (entreprise.id in queryParams.entreprises) ? "checked" : "" %}
                                {% else %}
                                    {% set checked = "" %}
                                {% endif %}
                                <p>
                                    <input type="checkbox" name="entreprises[]" id="entreprise{{ entreprise.id }}" value="{{ entreprise.id }}"
                                           {{ checked }}>
                                    <label for="entreprise{{ entreprise.id }}">{{ entreprise.name }}</label>
                                </p>
                            {% endfor %}
                        </form>
                    </div>
                    <div class="col-md-9" id="content">
                        {% include('annonce/search_result.html.twig') %}
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/filters.js') }}"></script>
{% endblock %}




