{% extends 'base.html.twig' %}

{% block title %}Offre d'emploi | {{ annonce.name }}{% endblock %}

{% block body %}
    <main id="main">
    <!-- ======= Breadcrumbs ======= -->
        <section id="breadcrumbs" class="breadcrumbs">
            <div class="container">
                <ol>
                    <li><a href="{{ path('app_home') }}">Home</a></li>
                </ol>
                <h1>{{ annonce.entreprise }} recrute un.e {{ annonce.name }}</h1>
            </div>
        </section><!-- End Breadcrumbs -->
        <section id="portfolio-details" class="portfolio-details">
            <div class="container">
                <div class="row gy-4">
                    <div class="col-lg-8">
                        <h2>Description du poste et missions</h2>
                        {{ annonce.description }}
                        {% if annonce.lien %}
                            {% if app.user and hasCandidature %}
                                <div class="alert-info mt-2 p-3">Vous avez déjà postulé à cette offre! </div>
                            {% else %}
                                <div><a href="{{ path('candidature_postuler-externe', {id : annonce.id, type : 1}) }}" class="btn btn-primary btn-small mt-2" target="_blank">Postuler (ext)</a></div>
                            {% endif %}
                        {% elseif annonce.adresseEmail() %}
                            {% if app.user and hasCandidature %}
                                <div class="alert-info mt-2 p-3">Vous avez déjà postulé à cette offre! </div>
                            {% else %}
                                <div><a href="{{ path('candidature_postuler_email', {id : annonce.id}) }}" class="btn btn-primary btn-small mt-2">Postuler (Email)</a></div>
                            {% endif %}
                        {% else %}
                            {% if app.user and hasCandidature %}
                                <div class="alert-info mt-2 p-3">Vous avez déjà postulé à cette offre! </div>
                            {% else %}
                            <div><a href="{{ path('candidature_postuler_interne', {id : annonce.id, type : 3}) }}" class="btn btn-primary btn-small mt-2">Postuler (interne)</a></div>
                            {% endif %}
                        {% endif %}
                    </div>

                    <div class="col-lg-4">
                        <div class="portfolio-info">
                            {% for entreprise in annonce.entreprise %}
                                {% if entreprise.logo|length %}
                                    <img class="card-img-top" style="width:100px" src="{{ asset(entreprise.getUrlLastLogo()) }}" alt="{{ entreprise.getNameLastLogo() }}">
                                {% endif %}
                            {% endfor %}
                            <b>Entreprise:</b> <a href="{{ path('entreprise_show_unit', {'id':annonce.entreprise.id, 'slug':annonce.entreprise.slug }) }}">{{ annonce.entreprise }}</a><br>
                            <b>Localisation:</b> {{ annonce.location|join('-') }}<br>
                            <b>Type de contrat:</b> {{ annonce.typeContrat|join('-') }}<br>
                            <b>Expérience souhaitée:</b> {{ annonce.experience }}<br>
                            <b>Diplôme requis:</b> {{ annonce.diplome }}
                        </div>
                        <div class="portfolio-description">
                            <b>Date de publication:</b> {{ annonce.createdAt|date('d-m-Y') }}<br>
                            <b>Date de limite de candidature:</b> {{ annonce.dateLimiteCandidature|date('d-m-Y') }}
                        </div>
                    </div>
                </div>
            </div>
        </section><!-- End Portfolio Details Section -->
</main>
{% endblock %}
