{% extends 'base.html.twig' %}

{% block title %}Offre d'emploi | {{ annonce.name }}{% endblock %}

{% block body %}
    <main id="main">
    <!-- ======= Breadcrumbs ======= -->
        <section id="breadcrumbs" class="breadcrumbs">
            <div class="container">
                <ol>
                    <li><a href="{{ path('app_home') }}">Home</a></li>
                    <li><a href="{{ path('app_profile') }}">Dashboard</a></li>
                    <li><a href="{{ path('annonce_index') }}">Offres d'emploi</a></li>
                    <li>Lecture</li>
                </ol>
                <h1>{{ annonce.entreprise }} recrute un.e {{ annonce.name }}</h1>
            </div>
        </section><!-- End Breadcrumbs -->
        <section id="portfolio-details" class="portfolio-details">
            <div class="container">
                <a class="btn app-btn-primary mb-4" href="{{ path('annonce_edit', {'id': annonce.id}) }}">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-file-earmark-arrow-down me-2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                    </svg>Editer
                </a>
                <div class="row gy-4">

                    <div class="col-lg-8">
                        <h2>Description du poste et missions</h2>
                        {{ annonce.description }}
                    </div>

                    <div class="col-lg-4">
                        <div class="portfolio-info">
                            {% for entreprise in annonce.entreprise %}
                                {% if entreprise.logo|length %}
                                    <img class="card-img-top" style="width:100px" src="{{ asset(entreprise.getUrlLastLogo()) }}" alt="{{ entreprise.getNameLastLogo() }}">
                                {% endif %}
                            {% endfor %}
                            <b>Entreprise:</b> {{ annonce.entreprise }}<br>
                            <b>Adresse:</b> {{ annonce.adresse|join('-') }}<br>
                            <b>Type de contrat:</b> {{ annonce.typeContrat|join('-') }}<br>
                            <b>Expérience souhaitée:</b> {{ annonce.experience }}<br>
                            <b>Diplôme requis:</b> {{ annonce.diplome }}
                        </div>
                        <div class="portfolio-description">
                            <b>Date de publication:</b> {{ annonce.createdAt|date('d-m-Y') }}<br>
                            <b>Date de limite de candidature:</b> {{ annonce.dateLimiteCandidature|date('d-m-Y') }}
                        </div>
                    </div>

                </div>

            </div>
        </section><!-- End Portfolio Details Section -->
</main>
{% endblock %}
