{% extends 'base.html.twig' %}

{% block title %}Offre d'emploi | {{ annonce.name }}{% endblock %}

{% block body %}
    <main id="main">
    <!-- ======= Breadcrumbs ======= -->
        <section id="breadcrumbs" class="breadcrumbs">
            <div class="container">
                <ol>
                    <li><a href="{{ path('app_home') }}">Home</a></li>
                    <li><a href="{{ path('app_profile') }}">Dashboard</a></li>
                    <li><a href="{{ path('annonce_index') }}">Offres d'emploi</a></li>
                    <li>Lecture</li>
                </ol>
                <h1>{{ annonce.entreprise }} recrute un.e {{ annonce.name }}</h1>
            </div>
        </section><!-- End Breadcrumbs -->
        <section id="portfolio-details" class="portfolio-details">
            <div class="container">

                <div class="row gy-4">

                    <div class="col-lg-8">
                        <h2>Description du poste et missions</h2>
                        {{ annonce.description }}
                    </div>

                    <div class="col-lg-4">
                        <div class="portfolio-info">
                            {% for entreprise in annonce.entreprise %}
                                {% if entreprise.logo|length %}
                                    <img class="card-img-top" style="width:100px" src="{{ asset(entreprise.getUrlLastLogo()) }}" alt="{{ entreprise.getNameLastLogo() }}">
                                {% endif %}
                            {% endfor %}
                            <b>Entreprise:</b> {{ annonce.entreprise }}<br>
                            <b>Adresse:</b> {{ annonce.adresse|join('-') }}<br>
                            <b>Type de contrat:</b> {{ annonce.typeContrat|join('-') }}<br>
                            <b>Expérience souhaitée:</b> {{ annonce.experience }}<br>
                            <b>Diplôme requis:</b> {{ annonce.diplome }}
                        </div>
                        <div class="portfolio-description">
                            <b>Date de publication:</b> {{ annonce.createdAt|date('d-m-Y') }}<br>
                            <b>Date de limite de candidature:</b> {{ annonce.dateLimiteCandidature|date('d-m-Y') }}
                        </div>
                    </div>

                </div>

            </div>
        </section><!-- End Portfolio Details Section -->
</main>
{% endblock %}
