    <div class="col-12 col-lg-4 mb-4" id="entreprise-{{ entreprise.id }}">
        <div class="app-card app-card-basic d-flex flex-column align-items-start shadow-sm">
            <div class="app-card-header p-3 border-bottom-0">
                <div class="row align-items-center gx-3">
                    <div class="col-auto">
                        <div class="app-icon-holder">
                            <img style="width: 45px" src="{{ asset(entreprise.getUrlLastLogo()) }}" alt="{{ entreprise.getNameLastLogo() }}" />
                        </div><!--//icon-holder-->

                    </div><!--//col-->
                    <div class="col-auto">
                        <h4 class="app-card-title"><a href="{{ path('entreprise_show_unit', {id:entreprise.id, slug:entreprise.slug}) }}">{{ entreprise.name }}</a></h4>
                    </div><!--//col-->
                </div><!--//row-->
            </div><!--//app-card-header-->
            <div class="app-card-body px-4">

            </div><!--//app-card-body-->
            <div class="app-card-footer p-4 mt-auto">
                {% if entreprise.annoncesEntreprise|length >= 1 %}
                    <span class="">{{ pluralize(entreprise.annoncesEntreprise|length, 'annonce') }}</span>
                {% endif %}
            </div><!--//app-card-footer-->
        </div><!--//app-card-->
    </div><!--//col-->
