{{ form_start(form) }}
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h3>Identification</h3>
            {{ form_row(form.name) }}
            {{ form_row(form.description) }}
            {{ form_row(form.regroupementCandidatures) }}
            {{ form_row(form.secteur) }}
            {{ form_row(form.numeroSiren) }}
            {{ form_row(form.numeroSiret) }}
            {{ form_row(form.taille) }}

        </div>
        <div class="col-md-4">
            <h3>Adresse</h3>
            <div id="adresse" data-prototype="{{ form_row(form.adresse.vars.prototype)|e('html_attr') }}">
                {{ form_row(form.adresse) }}
                <span></span>
            </div>

        </div>
        <div class="col-md-4">
            <h3>Logo</h3>
            {{ form_row(form.logo) }}
            {% if app.request.attributes.get('_route') == 'entreprise_edit' %}
                {% for image in entreprise.logo %}
                    <div>
                        <img class="mt-3" src="{{ asset('/uploads/'~image.name) }}" alt="" width="150">
                        <a href="{{ path('entreprise_delete_files', {id: image.id})}}" data-delete data-token="{{ csrf_token('delete' ~ image.id )}}">Supprimer</a>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
    <input type="submit" value="Enregistrer" class="bouton solid" />
</div>
{{ form_end(form) }}

