{% for entreprise in entreprises %}
    <div class="row mb-1 p-3 border" id="{{ entreprise.id }}">
        <div class="col-6">
            <h4><a href="{{ path('entreprise_show_unit', {id:entreprise.id, slug:entreprise.slug}) }}">{{ entreprise.name }}</a></h4>
        </div>
        <div class="col-4">
            {% if entreprise.annoncesEntreprise|length >= 1 %}
                <span class="btn-secondary btn-sm">{{ pluralize(entreprise.annoncesEntreprise|length, 'annonce') }}</span>
            {% endif %}
        </div>
        <div class="col-2">
            {% if entreprise.logo|length %}
                <img class="card-img-top mx-auto" style="width:70px" src="{{ asset(entreprise.getUrlLastLogo()) }}" alt="{{ entreprise.getNameLastLogo() }}">
            {% endif %}
        </div>
    </div>
{% endfor %}