{% extends 'base.html.twig' %}

{% block title %}Entreprise | Notification {% endblock %}

{% block body %}
    <main id="main">
        <!-- ======= Breadcrumbs ======= -->
        <section id="breadcrumbs" class="breadcrumbs">
            <div class="container">
                <ol>
                    <li><a href="{{ path('app_home') }}">Home</a></li>
                </ol>
                <h1>Création d'une entreprise</h1>
            </div>
        </section><!-- End Breadcrumbs -->
        <section class="inner-page">
            <div class="container">
                <div class="row">

                        <p> {{user.firstname|capitalize}} {{ user.lastname|capitalize }} vous avez enregistré l'entreprise {{ entreprise.name|capitalize }} avec succès.<br>
                            Vous revenons vers vous prochainement</p>
                        <hr>
                        <p class="mb-0"><a href="{{ path('app_home') }}">Revenir à l'accueil</a></p>

            </div>
        </section>
    </main>
{% endblock %}
