{% extends 'base.html.twig' %}

{% block javascripts %}
    {% include ('adresse/jquery.html.twig') %}
    <script src="{{ asset('js/images.js') }}"></script>

    <script async defer src="https://hcaptcha.com/1/api.js?hl={{ app.request.locale }}"></script>
    {% include 'partials/hcaptcha_callback_script.html.twig' %}
{% endblock %}

{% block title %}Entreprise | Création{% endblock %}

{% block body %}
<main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">
            <ol>
                <li><a href="{{ path('app_home') }}">Home</a></li>
                {% if app.user %}
                <li><a href="{{ path('app_profile') }}">Dashboard</a></li>
                <li><a href="{{ path('entreprise_index') }}">Entreprises</a></li>
                <li>Création</li>
                {% endif %}
            </ol>
            <h1>Création d'une entreprise</h1>
        </div>
    </section><!-- End Breadcrumbs -->
    <section class="inner-page">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    {% include('layouts/_dash_sidebar.html.twig') %}
                </div>
                <div class="col-md-9">
                    {{ include('entreprise/_form.html.twig') }}
                </div>
            </div>
        </div>
    </section>
</main>
    {% include 'adresse/_script.html.twig' %}
    {{ render(controller('App\\Controller\\AdresseController::addEntite',{'entite' : 'entreprise' })) }}
{% endblock %}
