{% extends 'base.html.twig' %}

{% block title %}{{ entreprise.name }} | Offres commerciales{% endblock %}

{% block body %}
    <main id="main">
        <!-- ======= Breadcrumbs ======= -->
        <section id="breadcrumbs" class="breadcrumbs">
            <div class="container">
                <ol>
                    <li><a href="{{ path('app_home') }}">Home</a></li>
                    <li><a href="{{ path('app_profile') }}">Dashboard</a></li>
                    <li><a href="{{ path('entreprise_index') }}">Entreprises</a></li>
                    <li>Offres</li>
                </ol>
                <h1>Offres commerciales</h1>
            </div>
        </section><!-- End Breadcrumbs -->
        <section class="inner-page">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <div class="d-flex flex-column">
                            {{ include('entreprise/menu.html.twig') }}
                        </div>
                    </div>
                    <div class="col-md-9 text-center d-flex flex-column">
                        {% if entreprise.moderation == 1%}
                        <div class="gap-2">
                            <button type="button" class="open-modal btn btn-primary" data-open="modal1">
                                Ajouter une offre
                            </button>
                            <button type="button" class="open-modal btn btn-primary" data-open="modal2">
                                Ajouter une offre personnalisée
                            </button>
                        </div>
                        {% endif %}

                        <table class="table" id="datatable">
                            <thead>
                            <tr>
                                <th>Formule</th>
                                <th>Nombre d'offres</th>
                                <th>Début de contrat</th>
                                <th>Fin de contrat</th>
                                <th>CVthèque</th>
                                <th>Prix</th>
                                <th>Nombre de recruteurs</th>
                                {% if entreprise.moderation == 1%}
                                <th>Actions</th>
                                {% endif %}
                            </tr>
                            </thead>
                            <tbody>
                            {%  if entreprise.offres|length %}
                                {% for offre in entreprise.offres %}
                                    <tr>
                                        <td>
                                            {{ offre.formule }}<br>
                                            <span
                                                    {% if offre.isPassed %}
                                                        class="bg-danger px-2 rounded text-white"
                                                    {% else %}
                                                        class="bg-success px-2 rounded text-white"
                                                    {% endif %}
                                            >
                                                {{ offre.getStatusName() }}
                                            </span>
                                            <br/>
                                            {{ offre.getFacture() }}
                                        </td>
                                        <td>{{ offre.getNombreOffres() }}</td>
                                        <td>{{ offre.debutContratAt|date}}</td>
                                        <td>{{ offre.finContratAt|date }}</td>
                                        <td>{{ offre.isCvTheque }}</td>
                                        <td>{{ offre.prix }} €</td>
                                        <td>{{ offre.getNombreRecruteurs() }}</td>
                                        <td>
                                            {%  if offre.isActive() %}
                                                {% if not offre.isModele()  %}
                                                <a href="#"><i class="fas fa-edit"></i></a>
                                                <a href="#">Supprimer</a>
                                                {% endif %}
                                            {% endif %}
                                        </td>
                                    </tr>

                                {% endfor %}
                            {% else %}
                                <tr>
                                    <td colspan="12">no records found</td>
                                </tr>
                            {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>

        <!-- Modal -->
        <div class="modal" id="modal1" data-animation="slideInOutDown">
            <div class="modal-dialog w-75">
                <header class="modal-header">
                    Ajouter une offre
                    <button class="close-modal" aria-label="close modal" data-close>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                            <path d="M1.293 1.293a1 1 0 0 1 1.414 0L8 6.586l5.293-5.293a1 1 0 1 1 1.414 1.414L9.414 8l5.293 5.293a1 1 0 0 1-1.414 1.414L8 9.414l-5.293 5.293a1 1 0 0 1-1.414-1.414L6.586 8 1.293 2.707a1 1 0 0 1 0-1.414z"/>
                        </svg>
                    </button>
                </header>
                <section class="modal-content">

                    <form method="post" action="{{ path('entreprise_save_offre',{id : entreprise.id}) }}" >
                    <div class="input-group">
                        <select class="custom-select" name="modeleId" id="inputGroupSelect04">
                            <option selected>Choose...</option>
                            {% for modele in modeles %}
                                <option value="{{ modele.id }}">{{ modele.name }}</option>
                            {% endfor %}
                        </select>
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="submit">Ajouter</button>
                        </div>
                    </div>
                    </form>
                </section>
            </div>
        </div>

        <div class="modal fade" id="modal2" data-animation="slideInOutDown" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog w-75" role="document">
                <header class="modal-header">
                    Ajouter une offre personnalisée
                    <button class="close-modal" aria-label="close modal" data-close>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                            <path d="M1.293 1.293a1 1 0 0 1 1.414 0L8 6.586l5.293-5.293a1 1 0 1 1 1.414 1.414L9.414 8l5.293 5.293a1 1 0 0 1-1.414 1.414L8 9.414l-5.293 5.293a1 1 0 0 1-1.414-1.414L6.586 8 1.293 2.707a1 1 0 0 1 0-1.414z"/>
                        </svg>
                    </button>
                </header>
                <section class="modal-content">
                    {{ form_start(form) }}
                        <div class="row">
                            <div class="col-md-6">
                                {{ form_row(form.formule) }}
                                {{ form_row(form.nombre_offres) }}
                                {{ form_row(form.debutContratAt) }}
                                {{ form_row(form.finContratAt) }}
                            </div>
                            <div class="col-md-6">
                                {{ form_row(form.prix) }}
                                {{ form_row(form.isCvTheque) }}
                            </div>
                            <input type="submit" value="Enregistrer" class="bouton solid" />
                            {{ form_end(form, {'render_rest': false}) }}
                        </div>
                </section>
            </div>
        </div>

    </main>

    <script type="application/javascript">
        var openEls = document.querySelectorAll("[data-open]");
        var closeEls = document.querySelectorAll("[data-close]");
        var isVisible = "is-visible";

        for (var el of openEls) {
            el.addEventListener("click", function() {
                var modalId = this.dataset.open;
                document.getElementById(modalId).classList.add(isVisible);
            });
        }

        for (var el of closeEls) {
            el.addEventListener("click", function() {
                this.parentElement.parentElement.parentElement.classList.remove(isVisible);
            });
        }

        document.addEventListener("click", e => {
            if (e.target === document.querySelector(".modal.is-visible")) {
                document.querySelector(".modal.is-visible").classList.remove(isVisible);
            }
        });

        document.addEventListener("keyup", e => {
            // if we press the ESC
            if (e.key === "Escape" && document.querySelector(".modal.is-visible")) {
                document.querySelector(".modal.is-visible").classList.remove(isVisible);
            }
        });

    </script>
    <style>
        /* RESET RULES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
        :root {
            --lightgray: #efefef;
            --blue: steelblue;
            --white: #fff;
            --black: rgba(0, 0, 0, 0.8);
            --bounceEasing: cubic-bezier(0.51, 0.92, 0.24, 1.15);
        }
        .btn-group {
            text-align: center;
        }
        /* MODAL
        –––––––––––––––––––––––––––––––––––––––––––––––––– */
        .modal {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 1rem;
            background: var(--black);
            cursor: pointer;
            visibility: hidden;
            opacity: 0;
            transition: all 0.35s ease-in;
        }

        .modal.is-visible {
            visibility: visible;
            opacity: 1;
        }

        .modal-dialog {
            position: relative;
            max-width: 800px;
            max-height: 80vh;
            border-radius: 5px;
            background: var(--white);
            overflow: auto;
            cursor: default;
        }

        .modal-dialog > * {
            padding: 1rem;
        }

        .modal-header,
        .modal-footer {
            background: var(--lightgray);
        }

        .modal-header {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .modal-header button{
            border: none;
        }

        .modal-header .close-modal {
            font-size: 1.5rem;
        }

        .modal p + p {
            margin-top: 1rem;
        }

        #offre_debutContratAt_time_hour{
            display: none;
        }
        div.sr-only{
            display: none;
        }

        /* ANIMATIONS
        –––––––––––––––––––––––––––––––––––––––––––––––––– */
        [data-animation] .modal-dialog {
            opacity: 0;
            transition: all 0.5s var(--bounceEasing);
        }

        [data-animation].is-visible .modal-dialog {
            opacity: 1;
            transition-delay: 0.2s;
        }

        [data-animation="slideInOutDown"] .modal-dialog {
            transform: translateY(100%);
        }

        [data-animation="slideInOutTop"] .modal-dialog {
            transform: translateY(-100%);
        }

        [data-animation="slideInOutLeft"] .modal-dialog {
            transform: translateX(-100%);
        }

        [data-animation="slideInOutRight"] .modal-dialog {
            transform: translateX(100%);
        }

        [data-animation="zoomInOut"] .modal-dialog {
            transform: scale(0.2);
        }

        [data-animation="rotateInOutDown"] .modal-dialog {
            transform-origin: top left;
            transform: rotate(-1turn);
        }

        [data-animation="mixInAnimations"].is-visible .modal-dialog {
            animation: mixInAnimations 2s 0.2s linear forwards;
        }

        [data-animation="slideInOutDown"].is-visible .modal-dialog,
        [data-animation="slideInOutTop"].is-visible .modal-dialog,
        [data-animation="slideInOutLeft"].is-visible .modal-dialog,
        [data-animation="slideInOutRight"].is-visible .modal-dialog,
        [data-animation="zoomInOut"].is-visible .modal-dialog,
        [data-animation="rotateInOutDown"].is-visible .modal-dialog {
            transform: none;
        }

        @keyframes mixInAnimations {
            0% {
                transform: translateX(-100%);
            }

            10% {
                transform: translateX(0);
            }

            20% {
                transform: rotate(20deg);
            }

            30% {
                transform: rotate(-20deg);
            }

            40% {
                transform: rotate(15deg);
            }

            50% {
                transform: rotate(-15deg);
            }

            60% {
                transform: rotate(10deg);
            }

            70% {
                transform: rotate(-10deg);
            }

            80% {
                transform: rotate(5deg);
            }

            90% {
                transform: rotate(-5deg);
            }

            100% {
                transform: rotate(0deg);
            }
        }
        #offre_finContratAt_time_hour{
            display: none;
        }
    </style>
{% endblock %}

