{% extends 'base.html.twig'  %}

{% block title %}{{ entreprise.name }}{% endblock %}

{% block body %}
    <main id="main">
        <!-- ======= Breadcrumbs ======= -->
        <section id="breadcrumbs" class="breadcrumbs">
            <div class="container">
                <ol>
                    <li><a href="{{ path('app_home') }}">Home</a></li>
                    {% if app.user %}
                    <li><a href="{{ path('app_profile') }}">Dashboard</a></li>
                    <li><a href="{{ path('entreprise_index') }}">Entreprises</a></li>
                    <li>Lecture</li>
                    {% endif %}
                </ol>
                <h1>{{ entreprise.name }}</h1>
            </div>
        </section><!-- End Breadcrumbs -->
        <section class="inner-page">
            <div class="container">
                <div class="row">
                     <div class="col-md-3">
                        <div class="d-flex flex-column">
                            {{ include('entreprise/menu.html.twig') }}
                        </div>
                     </div>
                     <div class="col-md-9 text-center d-flex flex-column">

                        <h3>Informations générales</h3>
                          <a>{{ entreprise.name }}</a>
                        {% if entreprise.logo|length %}
                            <img class="card-img-top mx-auto" style="width:100px" src="{{ asset(entreprise.getUrlLastLogo()) }}" alt="{{ entreprise.getNameLastLogo() }}">
                        {% endif %}
                        <i>Description :</i> {{ entreprise.description }}<br>
                        <i>Secteur :</i> {{ entreprise.secteur }}
                        <br><br>
                        <b>Adresse</b>
                         {% for adresse in entreprise.adresse %}
                            {{ adresse.adresse }}<br>
                             {{ adresse.complement }}<br>
                             {{ adresse.city }}<br>
                             {{ adresse.departement }}
                         {% endfor%}
                        <br><br>
                        <b>Identification</b>
                        <i>Siret :</i> {{ entreprise.numeroSiret }}<br>
                        <i>Siren :</i> {{ entreprise.numeroSiren }}<br>
                        <i>Taille :</i> {{ entreprise.taille }} salariés<br>

                        {% if app.user %}
                            <a href="{{ path('entreprise_edit', {'id': entreprise.id}) }}"><i class="fas fa-edit"></i></a>
                        {% endif %}
                         {% if app.user.isSuperAdmin() %}
                             {% if entreprise.moderation == '0' %}
                         <a class="btn-sm btn-success mb-1" href="{{ path('entreprise_accepter', {'id': entreprise.id}) }}">Accepter</a>
                         <a class="btn-sm btn-danger" href="{{ path('entreprise_rejeter', {'id': entreprise.id}) }}">Refuser</a>
                             {% endif %}
                         {% endif %}
                     </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}
