{% extends 'base.html.twig' %}

{% block title %}{{ entreprise.name }}{% endblock %}

{% block body %}
    <main id="main">
        <!-- ======= Breadcrumbs ======= -->
        <section id="breadcrumbs" class="breadcrumbs">
            <div class="container">
                <ol>
                    <li><a href="{{ path('app_home') }}">Home</a></li>
                </ol>
                <h1>{{ entreprise.name }} </h1>
            </div>
        </section><!-- End Breadcrumbs -->
        <section id="portfolio-details" class="portfolio-details">
            <div class="container">

                <div class="row gy-4">

                    <div class="col-lg-8">
                        <h2>Ses offres d'emploi</h2>
                      {% if entreprise.annoncesEntreprise|length >= 1 %}
                        <span class="badge bg-success">{{ pluralize(entreprise.annoncesEntreprise|length, 'annonce') }}</span>
                      {% elseif entreprise.annoncesEntreprise|length < 1%}
                        <p>(Aucune offre n'est disponible pour le moment)</p>
                      {% endif %}

                        {% for offre in entreprise.annoncesEntreprise %}
                                  <div class="row section-bg p-3 m-1">
                                    <div class="col-md-4">
                                        <h5>
                                            <a href="{{ path('annonce_show_unit', {id:offre.id, slug:offre.slug}) }}">{{ offre.name }}</a>
                                        </h5>
                                    </div>
                                    <div class="col-md-4">
                                        {% if offre.experience %}
                                            <span class="btn-secondary btn-sm">{{ offre.experience }}</span>
                                        {% endif %}
                                        {% if offre.entreprise.secteur %}
                                            <span class="btn-secondary btn-sm">{{ offre.entreprise.secteur }}</span>
                                        {% endif %}
                                        {% for typ in offre.typeContrat %}
                                            <span class="btn-secondary btn-sm">{{ typ.value }}</span>
                                        {% endfor %}

                                    </div>
                                    <div class="col-md-2">
                                        Date limite de candidature <br>
                                        <b>{{ offre.dateLimiteCandidature|date('d-m-Y') }}</b>
                                    </div>
                                    <div class="col-md-2">
                                        <i class="bi bi-geo-alt"></i>  <span></span><br>
                                    </div>
                                </div>
                        {% endfor %}
                    </div>

                    <div class="col-lg-4">
                        <div class="portfolio-info">
                            {% if entreprise.logo|length %}
                                <img class="card-img-top mx-auto" style="width:70px" src="{{ asset(entreprise.getUrlLastLogo()) }}" alt="{{ entreprise.getNameLastLogo() }}">
                            {% endif %}
                            <p class="mt-3">{{ entreprise.description }}</p>

                            {% if entreprise.secteur %}<b>Secteur:</b> {{ entreprise.secteur }}{% endif %}<br>
                            {% if entreprise.numeroSiren %}<b>Siren:</b> {{ entreprise.numeroSiren }}{% endif %}<br>
                            {% if entreprise.numeroSiret %}<b>Siret:</b> {{ entreprise.numeroSiret }}{% endif %}<br>
                            <b>Adresse:</b><br>
                            {% for adresse in entreprise.adresse %}
                                {{ adresse.city }}<br>{{ adresse.zipcode }}<br>{{ adresse.departement }}
                            {% endfor %}
                        </div>
                        <div class="portfolio-description">

                        </div>
                    </div>
                </div>
            </div>
        </section><!-- End Portfolio Details Section -->
    </main>
{% endblock %}


