{% extends 'base.html.twig' %}
{% block title %}Les entreprises qui recrutent{% endblock %}

{% block body %}
    <main id="main">
        <!-- ======= Breadcrumbs ======= -->
        <section id="breadcrumbs" class="breadcrumbs">
            <div class="container">
                <ol>
                    <li><a href="{{ path('app_home') }}">Home</a></li>
                    <li>Offres d'emploi</li>
                </ol>
                <h1>Toutes les offres d'emploi</h1>
            </div>
        </section><!-- End Breadcrumbs -->

        <section class="inner-page">
            <div class="container">
                {% for entreprise in entreprises %}
                    <div class="row mb-1 p-3 border">
                        <div class="col-6">
                            <h4><a href="{{ path('entreprise_show_unit', {id:entreprise.id, slug:entreprise.slug}) }}">{{ entreprise.name }}</a></h4>
                        </div>
                        <div class="col-4">
                            {% if entreprise.annoncesEntreprise|length >= 1 %}
                                <span class="btn-secondary btn-sm">{{ pluralize(entreprise.annoncesEntreprise|length, 'annonce') }}</span>
                            {% endif %}
                        </div>
                        <div class="col-2">
                            {% if entreprise.logo|length %}
                                <img class="card-img-top mx-auto" style="width:100px" src="{{ asset(entreprise.getUrlLastLogo()) }}" alt="{{ entreprise.getNameLastLogo() }}">
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </section>
    </main>
{% endblock %}





