{% extends 'base.html.twig' %}

{% block title %}Dictionnaire index{% endblock %}

{% block body %}
<main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">
            <ol>
                <li><a href="{{ path('app_home') }}">Home</a></li>
                <li><a href="{{ path('app_profile') }}">Dashboard</a></li>
                <li><a href="{{ path('dictionnaire_index') }}">Dictionnaire</a></li>
                <li>Répértoire</li>
            </ol>
            <h1>Gestion du dictionnaire</h1>
        </div>
    </section><!-- End Breadcrumbs -->
    <section class="inner-page">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <a href="{{ path('dictionnaire_new') }}" class="btn btn-primary btn-sm mt-1">Ajouter</a>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Type</th>
                                <th>Valeur</th>
                                <th>actions</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for dictionnaire in dictionnaires %}
                            <tr>
                                <td>{{ dictionnaire.type }}</td>
                                <td>{{ dictionnaire.value }}</td>
                                <td>
                                    <a href="{{ path('dictionnaire_edit', {'id': dictionnaire.id}) }}"><i class="fas fa-edit"></i></a>
                                    {{ include('dictionnaire/_delete_form.html.twig') }}
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="4">no records found</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    {{ knp_pagination_render(dictionnaires, 'Pagination/twitter_bootstrap_v4_pagination.html.twig') }}
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}
