<div class="row section-bg p-3 m-1" id="agenda-{{ agenda.id }}">
    <div>
        <i class="fas fa-calendar-week"></i> {{ agenda.dateDebut|date('d-m-Y') }}<br>
    </div>
    <div>
        <h5 class="p-4"><a href="{{ path('agenda_show_unit', {id:agenda.id, slug:agenda.slug}) }}">{{ agenda.title }}</a></h5>
    </div>
    <div>
        Organisé par {{ agenda.organizer }}<br>
    </div>
    <div>
        <i class="fas fa-search-location"></i> {{ agenda.city }}<br>
    </div>
</div>
