{% form_theme form _self %}
{{ form_start(form) }}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <b>Description de l'événement</b>
            {{ form_row(form.title) }}
            {{ form_row(form.description) }}
            {{ form_row(form.categorie) }}
            {{ form_row(form.dateDebut) }}
            {{ form_row(form.dateFin) }}
            {{ form_row(form.allDay) }}
            {{ form_row(form.weblink) }}
        </div>
        <div class="col-md-6">
            <b>Organisateur</b>
            {{ form_row(form.virtuel) }}
            {{ form_row(form.organizer) }}
            {{ form_row(form.address) }}
            {{ form_row(form.city) }}
            {{ form_row(form.code_postal) }}
            <br>
        </div>
    </div>
    <button class="btn btn-primary mt-3">{{ button_label|default('Enregistrer') }}</button>
</div>
{{ form_end(form) }}

<style>

</style>