{% form_theme form _self %}
{{ form_start(form) }}
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <b>Description de l'événement</b>
            {{ form_row(form.title) }}
            {{ form_row(form.description) }}
            {{ form_row(form.categorie) }}
        </div>

        <div class="col-md-4">
            <b>Date & Organisateur</b>
            {{ form_row(form.dateDebut) }}
            {{ form_row(form.dateFin) }}
            {{ form_row(form.allDay) }}
            {{ form_row(form.weblink) }}
            {{ form_row(form.virtuel) }}
            {{ form_row(form.organizer) }}
        </div>
        <div class="col-md-4">
            <h3>Adresse</h3>
           <div id="adresse" data-prototype="{{ form_row(form.adresse.vars.prototype)|e('html_attr') }}">
               {% for adresse in form.adresse %}
                   {{ form_row(adresse) }}
               {% endfor %}
                <span></span>
            </div>


        </div>
    </div>
    <input type="submit" value="Enregistrer" class="bouton solid" />
</div>
{{ form_end(form) }}
