{% extends 'base.html.twig' %}

{% block title %}Agenda | Répertoire des événements en cours{% endblock %}

{% block body %}
    <main id="main">
        <!-- ======= Breadcrumbs ======= -->
        <section id="breadcrumbs" class="breadcrumbs">
            <div class="container">
                <ol>
                    <li><a href="{{ path('app_home') }}">Home</a></li>
                    <li><a href="{{ path('app_profile') }}">Dashboard</a></li>
                    <li><a href="{{ path('agenda_index') }}">Agenda</a></li>
                    <li>Répértoire</li>
                </ol>
                <h1>événements en cours</h1>
            </div>
        </section><!-- End Breadcrumbs -->
        <section class="inner-page">
            <div class="container">
                <div class="row">
                    <div class="col-md-2">
                        <div class="d-flex flex-column">
                            {{ include('agenda/menu.html.twig') }}
                        </div>
                    </div>
                    <div class="col-md-10">
                        <div class="float-right">
                            <a class="btn btn-primary btn-sm mt-1" href="{{ path('agenda_new') }}">Ajouter</a>
                        </div>
                        <table class="table" id="datatable">
                            <thead>
                            <tr>
                                <th>Nom</th>
                                <th>Description</th>
                                <th>Date de début</th>
                                <th>Date de fin</th>
                                <th>Tout la journée</th>
                                <th>Url</th>
                                <th>Adresse</th>
                                <th>Code Postal</th>
                                <th>Ville</th>
                                <th>Organisateur</th>
                                <th>actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for agenda in agendas %}
                                <tr>
                                    <td><a href="{{ path('agenda_show', {'id': agenda.id}) }}">{{ agenda.title }}</a></td>
                                    <td>{{ agenda.description|slice(0, 120)|raw }}</td>
                                    <td>{{ agenda.dateDebut|date('d-m-Y') }}</td>
                                    <td>{{ agenda.dateFin|date('d-m-Y') }}</td>
                                    <td>{{ agenda.allDay ? 'Oui' : 'Non'}}</td>
                                    <td><a target="_blank" href="{{ agenda.weblink }}">Lien</a></td>
                                    <td>{{ agenda.address }}</td>
                                    <td>{{ agenda.codePostal }}</td>
                                    <td>{{ agenda.city }}</td>
                                    <td>{{ agenda.organizer }}</td>
                                    <td>
                                        <a href="{{ path('agenda_edit', {'id': agenda.id}) }}"><i class="fas fa-edit"></i></a>
                                        {{ include('agenda/_delete_form.html.twig') }}
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="12">no records found</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}
