{% extends 'base.html.twig' %}

{% block title %}Agenda | {{ agenda.title }}{% endblock %}

{% block body %}
    <main id="main">
        <!-- ======= Breadcrumbs ======= -->
        <section id="breadcrumbs" class="breadcrumbs">
            <div class="container">
                <ol>
                    <li><a href="{{ path('app_home') }}">Home</a></li>
                </ol>
                <h1>{{ agenda.title }}</h1>
            </div>
        </section><!-- End Breadcrumbs -->
        <section id="portfolio-details" class="portfolio-details">
            <div class="container">
                <div class="row gy-4">
                    <div class="col-lg-8">
                        <h2>Description</h2>
                        {{ agenda.title }}
                        <h2>Organisateur</h2>
                        {{ agenda.organizer }}
                    </div>

                    <div class="col-lg-4">
                        <div class="portfolio-info">
                            <h2>Adresse</h2>
                            {{ agenda.address }}<br>
                            {{ agenda.codePostal }}<br>
                            {{ agenda.city }}<br>

                        </div>
                        <div class="portfolio-description">

                        </div>
                    </div>
                </div>
            </div>
        </section><!-- End Portfolio Details Section -->
    </main>
{% endblock %}
