{% extends 'base.html.twig' %}

{% block title %}Tous les événements{% endblock %}

{% block body %}
    <main id="main">
        <!-- ======= Breadcrumbs ======= -->
        <section id="breadcrumbs" class="breadcrumbs">
            <div class="container">
                <ol>
                    <li><a href="{{ path('app_home') }}">Home</a></li>
                    <li>Agenda</li>
                </ol>
                <h1>Tous les événements</h1>
            </div>
        </section><!-- End Breadcrumbs -->

        <section class="inner-page">
            <div class="container">
                <div class="section-title">
                    <p>Les évènements sont automatiquement classés par ordre chronologique et archivés dès que leurs dates sont dépassées.</p>
                </div>
                {% for agenda in agendas %}
                    <div class="row mb-1 border">
                        <div class="col-4 p-4">
                            <i class="fas fa-calendar-week"></i><br>
                            De {{ agenda.dateDebut|date('d-m-Y H:i:s') }}<br> à
                            {{ agenda.dateFin|date('d-m-Y H:i:s') }}
                        </div>
                        <div class="col-6 section-bg">
                            <h5 class="p-4"><a href="{{ path('agenda_show_unit', {id:agenda.id, slug:agenda.slug}) }}">{{ agenda.title }}</a></h5>
                        </div>
                        <div class="col-2 p-4">
                            <i class="fas fa-search-location"></i><br>
                            {{ agenda.organizer }}<br>
                            {{ agenda.city }}<br>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </section>
    </main>
{% endblock %}





