{% extends 'base.html.twig' %}

{% block title %}Agenda | {{ agenda.title }}{% endblock %}

{% block body %}
    <main id="main">
        <!-- ======= Breadcrumbs ======= -->
        <section id="breadcrumbs" class="breadcrumbs">
            <div class="container">
                <ol>
                    <li><a href="{{ path('app_home') }}">Home</a></li>
                    <li><a href="{{ path('agenda_show_all') }}">Tous les événements</a></li>
                </ol>
                <h1>{{ agenda.title }}</h1>
            </div>
        </section><!-- End Breadcrumbs -->
        <section id="portfolio-details" class="portfolio-details">
            <div class="container">
                <div class="row gy-4">
                    <div class="row mb-1">
                        <div class="col-4">
                            {% if agenda.virtuel == 1 %}
                                <i class="fas fa-info-circle"></i><br>
                                événement virtuel
                                <hr>
                            {% endif %}
                            <i class="fas fa-calendar-week"></i><br>
                            De {{ agenda.dateDebut|date('d-m-Y H:i:s') }}<br> à
                               {{ agenda.dateFin|date('d-m-Y H:i:s') }}
                            <hr>
                            <i class="fas fa-search-location"></i><br>
                            {{ agenda.organizer }}<br>
                            {% for adresse in agenda.adresse %}
                                {{ adresse.city }}<br>{{ adresse.zipcode }}<br>{{ adresse.departement }}
                            {% endfor %}
                            <hr>
                            <i class="fas fa-link"></i><br>
                            <a href="{{ agenda.webLink }}" target="_blank">{{ agenda.organizer }}</a>
                        </div>
                        <div class="col-8 section-bg p-4">
                            <h5><a href="{{ path('agenda_show_unit', {id:agenda.id, slug:agenda.slug}) }}">{{ agenda.title }}</a></h5>
                            {{ agenda.description|raw }}
                        </div>
                    </div>
                </div>
            </div>
        </section><!-- End Portfolio Details Section -->
    </main>
{% endblock %}
