{% extends 'base.html.twig' %}

{% block title 'Forgotten password - Step 2' %}

{% block body %}
    <main id="main">
        <!-- ======= Breadcrumbs ======= -->
        <section id="breadcrumbs" class="breadcrumbs">
            <div class="container">
                <ol>
                    <li><a href="{{ path('app_home') }}">Home</a></li>
                </ol>
                <h1>Modification du mot de passe - étape 2</h1>
            </div>
        </section><!-- End Breadcrumbs -->
        <section id="portfolio-details" class="portfolio-details">
            <div class="container">
                {{ form_start(forgotPasswordFormStep2) }}
                    <div class="row mt-5">
                        {{ form_row(forgotPasswordFormStep2.password.first) }}
                        {{ form_row(forgotPasswordFormStep2.password.second) }}
                    </div>
                    <div class="mt-3 mb-3 text-center">
                        <button type="submit" class="btn btn-primary mb3" title="Enter new password 2 times to be reset">
                            Enregistrer
                        </button>
                    </div>
                {{ form_end(forgotPasswordFormStep2) }}
            </div>
        </section>
    </main>
{% endblock %}