{% extends 'base.html.twig' %}

{% block title 'Forgotten password - Step 1' %}

{% block body %}
    <main id="main">
        <!-- ======= Breadcrumbs ======= -->
        <section id="breadcrumbs" class="breadcrumbs">
            <div class="container">
                <ol>
                    <li><a href="{{ path('app_home') }}">Home</a></li>
                </ol>
                <h1>Modification du mot de passe - étape 1</h1>
            </div>
        </section><!-- End Breadcrumbs -->
        <section id="portfolio-details" class="portfolio-details">
            <div class="container">
                {{ form_start(forgotPasswordFormStep1) }}
                <div class="row mt-5">
                        {{ form_row(forgotPasswordFormStep1.email.first) }}
                        {{ form_row(forgotPasswordFormStep1.email.second) }}
                    </div>
                </div>
                <div class="mt-3">
                    <button type="submit" class="btn btn-primary d-block mx-auto"
                            title="Saisissez 2 fois votre adresse e-mail pour recevoir le lien de réinitialisation">
                        Envoyez-moi un lien de récupération
                    </button>
                </div>
                {{ form_end(forgotPasswordFormStep1) }}
            </div>
        </section>
    </main>
{% endblock %}