{% extends 'base.html.twig' %}

{% block title %}{{ blog.title }}{% endblock %}

{% block body %}
<main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">
            <ol>
                <li><i class="bi bi-house"></i><a href="{{ path('app_home') }}"> Home</a></li>
            </ol>
            <h1>{{blog.title}}</h1>
        </div>
    </section><!-- End Breadcrumbs -->
    <section id="portfolio-details" class="portfolio-details">
        <div class="container">
            <div class="row gy-4">
                <div class="col-lg-8">
                    {{ blog.content|raw }}
                </div>
                <div class="col-lg-4">
                    {% if blog.images|length %}
                        <div class="portfolio-description mb-5">
                            <img class="card-img-top mx-auto" src="{{ asset(blog.getUrlLastFile()) }}" alt="{{ blog.getNameLastFile() }}">
                        </div>
                        <div class="portfolio-info">
                            <i class="bi bi-hdd-network"></i> <b>Ressources:</b> <a href="{{ blog.link }}">{{ blog.link }}</a>
                            {% if blog.categorie %}
                                <i class="bi bi-list-nested"></i> <b>Catégorie:</b> <span>{{ blog.categorie }}</span>
                            {% endif %}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </section><!-- End Portfolio Details Section -->
    <section class="inner-page">
        <div class="container">


        </div>
    </section>
</main>
{% endblock %}
