<h1>New message</h1>
<p>Firstname : {{ contact.firstname }}</p>
<p>Lastname : {{ contact.lastname }}</p>
<p>Email: {{ contact.email }}</p>
<p>Sujet: {{ contact.subject }}</p>
<p>Message : {{ contact.message|raw }}</p>
