{% extends 'base.html.twig' %}

{% block title %}Messagerie{% endblock %}

{% block body %}
    <main id="main">
        <!-- ======= Breadcrumbs ======= -->
        <section id="breadcrumbs" class="breadcrumbs">
            <div class="container">
                <ol>
                    <li><a href="{{ path('app_home') }}">Home</a></li>
                    <li><a href="{{ path('messages_received') }}">Messagerie</a></li>
                    <li>Gestion des candidatures</li>
                </ol>
                <h1>Candidatures ({{ app.user.received|length }})</h1>
            </div>
        </section><!-- End Breadcrumbs -->
        <section class="inner-page">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <div class="list-group">
                            <a href="{{ path("messages_received") }}" class="list-group-item list-group-item-action active">Boîte de réception ({{ app.user.received|length }})</a>
                        </div>
                        <div class="list-group">
                            <a href="{{ path("messages_sent") }}" class="list-group-item list-group-item-action">Eléments envoyés ({{ app.user.sent|length }})</a>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <h2>{{ message.titre }}</h2>
                        <p>Message de {{ message.sender.email }}</p>
                        <p>Envoyé le {{ message.createdAt|date('d-m-Y') }}</p>
                        <div>{{ message.message }}</div>
                    </div>
                </div>
            </div>
        </section>
    </main>


{% endblock %}