{% extends 'base.html.twig' %}

{% block title %}Messagerie{% endblock %}

{% block body %}
    <main id="main">
    <!-- ======= Breadcrumbs ======= -->
        <section id="breadcrumbs" class="breadcrumbs">
            <div class="container">
                <ol>
                    <li><a href="{{ path('app_home') }}">Home</a></li>
                    <li><a href="{{ path('messages_received') }}">Messagerie</a></li>
                    <li>Gestion des candidatures</li>
                </ol>
                <h1>Candidatures ({{ app.user.received|length }})</h1>
            </div>
        </section><!-- End Breadcrumbs -->
        <section class="inner-page">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <div class="list-group">
                            <a href="{{ path("messages_received") }}" class="list-group-item list-group-item-action active">Boîte de réception ({{ app.user.received|length }})</a>
                        </div>
                        <div class="list-group">
                            <a href="{{ path("messages_sent") }}" class="list-group-item list-group-item-action">Eléments envoyés ({{ app.user.sent|length }})</a>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <a href="{{path("messages_new")}}" class="btn btn-primary btn-sm">Envoyer un message</a>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>De</th>
                                    <th>Sujet</th>
                                    <th>Date</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>

                            {% for message in app.user.received %}
                                {% set bold = "" %}
                                {% if message.isRead == 0 %}
                                    {% set bold = "fw-bold" %}
                                {% endif %}
                                <tr>
                                    <td {{bold}} >
                                        {% if message.sender %}
                                            {{ message.sender.fullname }}
                                        {% endif %}
                                    </td>
                                    <td {{bold}} ><a href="{{ path("messages_read", {id: message.id}) }}">{{ message.titre }}</td>
                                    <td {{bold}} >{{ message.createdAt|date }}</td>
                                    <td>
                                        <a href="{{ path("messages_delete", {id: message.id}) }}"><i class="fas fa-trash"></i></a>
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="12">no records found</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>
    </main>


{% endblock %}