{% extends 'base.html.twig' %}

{% block title %}Menu{% endblock %}

{% block body %}
<main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">
            <ol>
                <li><a href="{{ path('app_home') }}">Home</a></li>
                <li><a href="{{ path('app_profile') }}">Dashboard</a></li>
                <li><a href="{{ path('menu_index') }}">Menus</a></li>
            </ol>
            <h1>{{ menu.name }}</h1>
        </div>
    </section><!-- End Breadcrumbs -->
    <section class="inner-page">
        <div class="container">
            <table class="table">
                <tbody>
                    <tr>
                        <th>Name</th>
                        <td>{{ menu.name }}</td>
                    </tr>
                    <tr>
                        <th>Link</th>
                        <td>{{ menu.link }}</td>
                    </tr>
                    <tr>
                        <th>Display_order</th>
                        <td>{{ menu.displayOrder }}</td>
                    </tr>
                    <tr>
                        <th>IsParent</th>
                        <td>{{ menu.isParent ? 'Yes' : 'No' }}</td>
                    </tr>
                    <tr>
                        <th>IsChild</th>
                        <td>{{ menu.isChild }}</td>
                    </tr>
                    <tr>
                        <th>Type</th>
                        <td>{{ menu.type }}</td>
                    </tr>
                </tbody>
            </table>
            <a class="btn-primary btn-sm" href="{{ path('menu_edit', {'id': menu.id}) }}">edit</a>
      </div>
    </section>
</main>
{% endblock %}
