{% extends 'base.html.twig' %}

{% block title %}Facture index{% endblock %}

{% block body %}
    <main id="main">
        <!-- ======= Breadcrumbs ======= -->
        <section id="breadcrumbs" class="breadcrumbs">
            <div class="container">
                <ol>
                    <li><a href="{{ path('app_home') }}">Home</a></li>
                    <li><a href="{{ path('app_profile') }}">Dashboard</a></li>
                    <li><a href="{{ path('facture_index') }}">Factures</a></li>
                    <li>Lecture</li>
                </ol>
                <h1>Factures à payer</h1>
            </div>
        </section><!-- End Breadcrumbs -->
        <section class="inner-page">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <div class="d-flex flex-column">
                            {{ include('facture/menu.html.twig') }}
                        </div>
                    </div>
                    <div class="col-md-9 text-center d-flex flex-column">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Entreprise</th>
                                <th>PrixTTC</th>
                                <th>Date limite de paiement</th>
                                <th>Référence</th>
                                <th>actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for facture in factures %}
                                <tr>
                                    <td>{{ facture.entreprise }}</td>
                                    <td>{{ facture.prixTTC }}</td>
                                    <td>{{ facture.limiteDatePaid ? facture.limiteDatePaid|date('Y-m-d H:i:s') : '' }}</td>
                                    <td>{{ facture }}</td>
                                    <td>
                                        <a href="{{ path('facture_download', {'id': facture.id}) }}"><i class="fas fa-download"></i></a>
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="11">no records found</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>
    </main>
    {#<a href="{{ path('facture_new') }}">Create new</a>#}
{% endblock %}
