{% extends 'base.html.twig' %}

{% block title %}Candidatures{% endblock %}

{% block body %}
<main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">
            <ol>
                <li><a href="{{ path('app_home') }}">Home</a></li>
                <li><a href="{{ path('app_profile') }}">Dashboard</a></li>
                <li><a href="{{ path('candidature_index') }}">Candidatures</a></li>
                <li>Candidatures</li>
            </ol>
            <h2>Gestion des candidatures</h2>
        </div>
    </section><!-- End Breadcrumbs -->
    <section class="inner-page">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    {% include('layouts/_dash_sidebar.html.twig') %}
                </div>
                <div class="col-md-9">
                    <nav id="orders-table-tab" class="orders-table-tab app-nav-tabs nav shadow-sm flex-column flex-sm-row mb-4">
                        {% if app.user.isSuperAdmin() or app.user.isSuperRecruteur() or app.user.isRecruteur() %}
                            <a class="flex-sm-fill text-sm-center nav-link" href="{{ path('candidature_index') }}" role="tab" aria-controls="orders-all" aria-selected="false">Toutes</a>
                            <a class="flex-sm-fill text-sm-center nav-link active" href="{{ path('candidature_attente') }}" role="tab" aria-controls="orders-paid" aria-selected="true">En attente</a>
                            <a class="flex-sm-fill text-sm-center nav-link" href="{{ path('candidature_acceptees') }}" role="tab" aria-controls="orders-pending" aria-selected="false">Acceptées</a>
                            <a class="flex-sm-fill text-sm-center nav-link" href="{{ path('candidature_refusees') }}" role="tab" aria-controls="orders-pending" aria-selected="false">Refusées</a>
                        {% endif %}
                    </nav>

                    <div class="tab-content" id="orders-table-tab-content">
                        <div class="table-responsive">
                            <table class="table" id="datatable">
                                <thead>
                                <tr>
                                    <th class="cell">Infos candidature</th>
                                    <th class="cell">Infos offre</th>
                                    <th class="cell">Date de candidature</th>
                                    <th class="cell">Voir</th>
                                    <th class="cell">Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for candidature in candidatures %}
                                    <tr>
                                        <td class="cell">
                                            <b>Nom et prénom : </b>{{ candidature.candidat.fullname()|upper }}<br>
                                            <b>Date de candidature : </b>{{ candidature.createdAt ? candidature.createdAt|date('d-m-Y') : '' }}<br>
                                            {% if candidature.cv %}
                                                <a href=""><i class="fas fa-download"></i> Télécharger son cv</a>
                                            {% endif %}
                                        </td>
                                        <td class="cell">
                                            <b>Annonce : </b>{% for annonce in candidature.annonces %}
                                            <a href="{{ path('annonce_show_unit', {'id': annonce.id, 'slug': annonce.slug }) }}">{{ annonce.name }}</a>
                                            {% endfor %}<br>
                                            <b>Entreprise : </b><a href="{{ path('entreprise_show_unit', {'id': candidature.entreprise.id, 'slug': candidature.entreprise.slug }) }}">{{ candidature.entreprise }}</a> <br>
                                            <b>Recruteur : </b>{{ candidature.recruteur }}
                                        </td>
                                        <td class="cell">{{ candidature.createdAt ? candidature.createdAt|date('d-m-Y à H:i') : '' }}</td>
                                        <td class="cell">
                                            <a href="{{ path('candidature_show', {'id': candidature.id}) }}">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
                                                    <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"/>
                                                    <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
                                                </svg>
                                            </a>
                                        </td>
                                        <td class="cell">
                                            <div class="form-check form-switch">
                                                <button class="btn-sm btn-success">Accepter</button>
                                                <button class="btn-sm btn-danger">Refuser</button>
                                            </div>
                                        </td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td colspan="6">no records found</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div><!--//table-responsive-->
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}
