{% extends 'base.html.twig' %}

{% block title %}Candidatures{% endblock %}

{% block body %}
<main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">
            <ol>
                <li><a href="{{ path('app_home') }}">Home</a></li>
                <li><a href="{{ path('app_profile') }}">Dashboard</a></li>
                <li><a href="{{ path('candidature_index') }}">Candidatures</a></li>
                <li>Candidatures</li>
            </ol>
            <h2>Gestion des candidatures</h2>
        </div>
    </section><!-- End Breadcrumbs -->
    <section class="inner-page">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    {% include('layouts/dash_sidebar.html.twig') %}
                </div>
                <div class="col-md-9">
                    {% if app.user.isSuperAdmin() or app.user.isSuperRecruteur() or app.user.isRecruteur() %}
                        <nav id="orders-table-tab" class="orders-table-tab app-nav-tabs nav shadow-sm flex-column flex-sm-row mb-4">
                            <a class="flex-sm-fill text-sm-center nav-link active" id="orders-all-tab" data-bs-toggle="tab" href="#orders-all" role="tab" aria-controls="orders-all" aria-selected="true">Toutes</a>
                            <a class="flex-sm-fill text-sm-center nav-link"  id="orders-paid-tab" data-bs-toggle="tab" href="#orders-paid" role="tab" aria-controls="orders-paid" aria-selected="false">Acceptées</a>
                            <a class="flex-sm-fill text-sm-center nav-link" id="orders-pending-tab" data-bs-toggle="tab" href="#orders-pending" role="tab" aria-controls="orders-pending" aria-selected="false">Refusées</a>
                        </nav>

                        <div class="tab-content" id="orders-table-tab-content">
                            <div class="tab-pane fade show active" id="orders-all" role="tabpanel" aria-labelledby="orders-all-tab">
                                <div class="app-card app-card-orders-table shadow-sm mb-5">
                                    <div class="app-card-body">
                                        <div class="table-responsive">
                                            <table class="table app-table-hover mb-0 text-left">
                                                <thead>
                                                <tr>
                                                    <th class="cell">Infos candidature</th>
                                                    <th class="cell">Infos offre</th>
                                                    <th class="cell">Date de candidature</th>
                                                    <th class="cell">Voir</th>
                                                    <th class="cell">Actions</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for candidature in candidatures %}
                                                    <tr>
                                                        <td class="cell">
                                                            <b>Nom et prénom : </b>{{ candidature.candidat.fullname()|upper }}<br>
                                                            <b>Date de candidature : </b>{{ candidature.createdAt ? candidature.createdAt|date('d-m-Y') : '' }}<br>
                                                            {% if candidature.cv %}
                                                                <a href=""><i class="fas fa-download"></i> Télécharger son cv</a>
                                                            {% endif %}
                                                        </td>
                                                        <td class="cell">
                                                            <b>Annonce : </b>{% for annonce in candidature.annonces %}
                                                            <a href="{{ path('annonce_show_unit', {'id': annonce.id, 'slug': annonce.slug }) }}">{{ annonce.name }}</a>
                                                            {% endfor %}<br>
                                                            <b>Entreprise : </b><a href="{{ path('entreprise_show_unit', {'id': candidature.entreprise.id, 'slug': candidature.entreprise.slug }) }}">{{ candidature.entreprise }}</a> <br>
                                                            <b>Recruteur : </b>{{ candidature.recruteur }}
                                                        </td>
                                                        <td class="cell">{{ candidature.createdAt ? candidature.createdAt|date('d-m-Y à H:i') : '' }}</td>
                                                        <td class="cell"><span class="badge bg-success">En cours</span></td>
                                                        <td class="cell">
                                                            <div class="form-check form-switch">
                                                                <button class="btn-sm btn-success">Accepter</button>
                                                                <button class="btn-sm btn-danger">Refuser</button>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                {% else %}
                                                    <tr>
                                                        <td colspan="6">no records found</td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </div><!--//table-responsive-->

                                    </div><!--//app-card-body-->
                                </div><!--//app-card-->
                                <nav class="app-pagination">
                                    <ul class="pagination justify-content-center">
                                        <li class="page-item disabled">
                                            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                                        </li>
                                        <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                                        <li class="page-item">
                                            <a class="page-link" href="#">Next</a>
                                        </li>
                                    </ul>
                                </nav><!--//app-pagination-->

                            </div><!--//tab-pane-->
                            <div class="tab-pane fade" id="orders-paid" role="tabpanel" aria-labelledby="orders-paid-tab">
                                <div class="app-card app-card-orders-table mb-5">
                                    <div class="app-card-body">
                                        <div class="table-responsive">
                                            <table class="table app-table-hover mb-0 text-left">
                                                <thead>
                                                <tr>
                                                    <th class="cell">Infos candidature</th>
                                                    <th class="cell">Infos offre</th>
                                                    <th class="cell">Date de candidature</th>
                                                    <th class="cell">Voir</th>
                                                    <th class="cell">Actions</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for candidature in candidatures %}
                                                    <tr>
                                                        <td class="cell">
                                                            <b>Nom et prénom : </b>{{ candidature.candidat.fullname()|upper }}<br>
                                                            <b>Date de candidature : </b>{{ candidature.createdAt ? candidature.createdAt|date('d-m-Y') : '' }}<br>
                                                            {% if candidature.cv %}
                                                                <a href=""><i class="fas fa-download"></i> Télécharger son cv</a>
                                                            {% endif %}
                                                        </td>
                                                        <td class="cell">
                                                            <b>Annonce : </b>{% for annonce in candidature.annonces %}
                                                            <a href="{{ path('annonce_show_unit', {'id': annonce.id, 'slug': annonce.slug }) }}">{{ annonce.name }}</a>
                                                            {% endfor %}<br>
                                                            <b>Entreprise : </b><a href="{{ path('entreprise_show_unit', {'id': candidature.entreprise.id, 'slug': candidature.entreprise.slug }) }}">{{ candidature.entreprise }}</a> <br>
                                                            <b>Recruteur : </b>{{ candidature.recruteur }}
                                                        </td>
                                                        <td class="cell">{{ candidature.createdAt ? candidature.createdAt|date('d-m-Y à H:i') : '' }}</td>
                                                        <td class="cell"><span class="badge bg-success">En cours</span></td>
                                                        <td class="cell">
                                                            <div class="form-check form-switch">
                                                                <button class="btn-sm btn-success">Accepter</button>
                                                                <button class="btn-sm btn-danger">Refuser</button>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                {% else %}
                                                    <tr>
                                                        <td colspan="6">no records found</td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </div><!--//table-responsive-->
                                    </div><!--//app-card-body-->
                                </div><!--//app-card-->
                            </div><!--//tab-pane-->
                            <div class="tab-pane fade" id="orders-pending" role="tabpanel" aria-labelledby="orders-pending-tab">
                                <div class="app-card app-card-orders-table mb-5">
                                    <div class="app-card-body">
                                        <div class="table-responsive">
                                            <table class="table app-table-hover mb-0 text-left">
                                                <thead>
                                                <tr>
                                                    <th class="cell">Infos candidature</th>
                                                    <th class="cell">Infos offre</th>
                                                    <th class="cell">Date de candidature</th>
                                                    <th class="cell">Voir</th>
                                                    <th class="cell">Actions</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for candidature in candidatures %}
                                                    <tr>
                                                        <td class="cell">
                                                            <b>Nom et prénom : </b>{{ candidature.candidat.fullname()|upper }}<br>
                                                            <b>Date de candidature : </b>{{ candidature.createdAt ? candidature.createdAt|date('d-m-Y') : '' }}<br>
                                                            {% if candidature.cv %}
                                                                <a href=""><i class="fas fa-download"></i> Télécharger son cv</a>
                                                            {% endif %}
                                                        </td>
                                                        <td class="cell">
                                                            <b>Annonce : </b>{% for annonce in candidature.annonces %}
                                                            <a href="{{ path('annonce_show_unit', {'id': annonce.id, 'slug': annonce.slug }) }}">{{ annonce.name }}</a>
                                                            {% endfor %}<br>
                                                            <b>Entreprise : </b><a href="{{ path('entreprise_show_unit', {'id': candidature.entreprise.id, 'slug': candidature.entreprise.slug }) }}">{{ candidature.entreprise }}</a> <br>
                                                            <b>Recruteur : </b>{{ candidature.recruteur }}
                                                        </td>
                                                        <td class="cell">{{ candidature.createdAt ? candidature.createdAt|date('d-m-Y à H:i') : '' }}</td>
                                                        <td class="cell"><span class="badge bg-success">En cours</span></td>
                                                        <td class="cell">
                                                            <div class="form-check form-switch">
                                                                <button class="btn-sm btn-success">Accepter</button>
                                                                <button class="btn-sm btn-danger">Refuser</button>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                {% else %}
                                                    <tr>
                                                        <td colspan="6">no records found</td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </div><!--//table-responsive-->
                                    </div><!--//app-card-body-->
                                </div><!--//app-card-->
                            </div><!--//tab-pane-->
                        </div><!--//tab-content-->
                    {% endif %}
                    {% if app.user.isCandidat() %}
                        <nav id="orders-table-tab" class="orders-table-tab app-nav-tabs nav shadow-sm flex-column flex-sm-row mb-4">
                            <a class="flex-sm-fill text-sm-center nav-link active" id="orders-all-tab" data-bs-toggle="tab" href="#orders-all" role="tab" aria-controls="orders-all" aria-selected="true">Toutes</a>
                            <a class="flex-sm-fill text-sm-center nav-link"  id="orders-paid-tab" data-bs-toggle="tab" href="#orders-paid" role="tab" aria-controls="orders-paid" aria-selected="false">En cours</a>
                            <a class="flex-sm-fill text-sm-center nav-link" id="orders-pending-tab" data-bs-toggle="tab" href="#orders-pending" role="tab" aria-controls="orders-pending" aria-selected="false">Avec rendez-vous</a>
                            <a class="flex-sm-fill text-sm-center nav-link" id="orders-cancelled-tab" data-bs-toggle="tab" href="#orders-cancelled" role="tab" aria-controls="orders-cancelled" aria-selected="false">Non abouties</a>
                        </nav>

                        <div class="tab-content" id="orders-table-tab-content">
                            <div class="tab-pane fade show active" id="orders-all" role="tabpanel" aria-labelledby="orders-all-tab">
                                <div class="app-card app-card-orders-table shadow-sm mb-5">
                                    <div class="app-card-body">
                                        <div class="table-responsive">
                                            <table class="table app-table-hover mb-0 text-left">
                                                <thead>
                                                <tr>
                                                    <th class="cell">Annonce</th>
                                                    <th class="cell">Entreprise</th>
                                                    <th class="cell">Date de candidature</th>
                                                    <th class="cell">Statut</th>
                                                    <th class="cell">Voir</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for candidature in candidatures %}
                                                    <tr>
                                                        <td class="cell">
                                                            {% for annonce in candidature.annonces %}
                                                                <a href="{{ path('annonce_show_unit', {'id': annonce.id, 'slug': annonce.slug }) }}">{{ annonce.name }}</a>
                                                            {% endfor %}
                                                        </td>
                                                        <td class="cell"><a href="{{ path('entreprise_show_unit', {'id': candidature.entreprise.id, 'slug': candidature.entreprise.slug }) }}">{{ candidature.entreprise }}</a></td>
                                                        <td class="cell">{{ candidature.createdAt ? candidature.createdAt|date('d-m-Y à H:i') : '' }}</td>
                                                        <td class="cell"><span class="badge bg-success">En cours</span></td>
                                                        <td class="cell"><a class="btn-sm app-btn-secondary" href="{{ path('candidature_show', {'id': candidature.id}) }}">View</a></td>
                                                    </tr>
                                                {% else %}
                                                    <tr>
                                                        <td colspan="6">no records found</td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </div><!--//table-responsive-->

                                    </div><!--//app-card-body-->
                                </div><!--//app-card-->
                                <nav class="app-pagination">
                                    <ul class="pagination justify-content-center">
                                        <li class="page-item disabled">
                                            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                                        </li>
                                        <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                                        <li class="page-item">
                                            <a class="page-link" href="#">Next</a>
                                        </li>
                                    </ul>
                                </nav><!--//app-pagination-->

                            </div><!--//tab-pane-->
                            <div class="tab-pane fade" id="orders-paid" role="tabpanel" aria-labelledby="orders-paid-tab">
                                <div class="app-card app-card-orders-table mb-5">
                                    <div class="app-card-body">
                                        <div class="table-responsive">
                                            <table class="table app-table-hover mb-0 text-left">
                                                <thead>
                                                <tr>
                                                    <th class="cell">Annonce</th>
                                                    <th class="cell">Entreprise</th>
                                                    <th class="cell">Date de candidature</th>
                                                    <th class="cell">Statut</th>
                                                    <th class="cell">Voir</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for candidature in candidatures %}
                                                    <tr>
                                                        <td class="cell">
                                                            {% for annonce in candidature.annonces %}
                                                                <a href="{{ path('annonce_show_unit', {'id': annonce.id, 'slug': annonce.slug }) }}">{{ annonce.name }}</a>
                                                            {% endfor %}
                                                        </td>
                                                        <td class="cell"><a href="{{ path('entreprise_show_unit', {'id': candidature.entreprise.id, 'slug': candidature.entreprise.slug }) }}">{{ candidature.entreprise }}</a></td>
                                                        <td class="cell">{{ candidature.createdAt ? candidature.createdAt|date('d-m-Y à H:i') : '' }}</td>
                                                        <td class="cell"><span class="badge bg-success">En cours</span></td>
                                                        <td class="cell"><a class="btn-sm app-btn-secondary" href="{{ path('candidature_show', {'id': candidature.id}) }}">View</a></td>
                                                    </tr>
                                                {% else %}
                                                    <tr>
                                                        <td colspan="6">no records found</td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </div><!--//table-responsive-->
                                    </div><!--//app-card-body-->
                                </div><!--//app-card-->
                            </div><!--//tab-pane-->
                            <div class="tab-pane fade" id="orders-pending" role="tabpanel" aria-labelledby="orders-pending-tab">
                                <div class="app-card app-card-orders-table mb-5">
                                    <div class="app-card-body">
                                        <div class="table-responsive">
                                            <table class="table app-table-hover mb-0 text-left">
                                                <thead>
                                                <tr>
                                                    <th class="cell">Annonce</th>
                                                    <th class="cell">Entreprise</th>
                                                    <th class="cell">Date de candidature</th>
                                                    <th class="cell">Statut</th>
                                                    <th class="cell">Voir</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for candidature in candidatures %}
                                                    <tr>
                                                        <td class="cell">
                                                            {% for annonce in candidature.annonces %}
                                                                <a href="{{ path('annonce_show_unit', {'id': annonce.id, 'slug': annonce.slug }) }}">{{ annonce.name }}</a>
                                                            {% endfor %}
                                                        </td>
                                                        <td class="cell"><a href="{{ path('entreprise_show_unit', {'id': candidature.entreprise.id, 'slug': candidature.entreprise.slug }) }}">{{ candidature.entreprise }}</a></td>
                                                        <td class="cell">{{ candidature.createdAt ? candidature.createdAt|date('d-m-Y à H:i') : '' }}</td>
                                                        <td class="cell"><span class="badge bg-success">En cours</span></td>
                                                        <td class="cell"><a class="btn-sm app-btn-secondary" href="{{ path('candidature_show', {'id': candidature.id}) }}">View</a></td>
                                                    </tr>
                                                {% else %}
                                                    <tr>
                                                        <td colspan="6">no records found</td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </div><!--//table-responsive-->
                                    </div><!--//app-card-body-->
                                </div><!--//app-card-->
                            </div><!--//tab-pane-->
                            <div class="tab-pane fade" id="orders-cancelled" role="tabpanel" aria-labelledby="orders-cancelled-tab">
                                <div class="app-card app-card-orders-table mb-5">
                                    <div class="app-card-body">
                                        <div class="table-responsive">
                                            <table class="table app-table-hover mb-0 text-left">
                                                <thead>
                                                <tr>
                                                    <th class="cell">Annonce</th>
                                                    <th class="cell">Entreprise</th>
                                                    <th class="cell">Date de candidature</th>
                                                    <th class="cell">Statut</th>
                                                    <th class="cell">Voir</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for candidature in candidatures %}
                                                    <tr>
                                                        <td class="cell">
                                                            {% for annonce in candidature.annonces %}
                                                                <a href="{{ path('annonce_show_unit', {'id': annonce.id, 'slug': annonce.slug }) }}">{{ annonce.name }}</a>
                                                            {% endfor %}
                                                        </td>
                                                        <td class="cell"><a href="{{ path('entreprise_show_unit', {'id': candidature.entreprise.id, 'slug': candidature.entreprise.slug }) }}">{{ candidature.entreprise }}</a></td>
                                                        <td class="cell">{{ candidature.createdAt ? candidature.createdAt|date('d-m-Y à H:i') : '' }}</td>
                                                        <td class="cell"><span class="badge bg-success">En cours</span></td>
                                                        <td class="cell"><a class="btn-sm app-btn-secondary" href="{{ path('candidature_show', {'id': candidature.id}) }}">View</a></td>
                                                    </tr>
                                                {% else %}
                                                    <tr>
                                                        <td colspan="6">no records found</td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </div><!--//table-responsive-->
                                    </div><!--//app-card-body-->
                                </div><!--//app-card-->
                            </div><!--//tab-pane-->
                        </div><!--//tab-content-->
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}
