{% extends 'base.html.twig' %}

{% block title %}Candidature{% endblock %}

{% block body %}
<main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">
            <ol>
                <li><a href="{{ path('app_home') }}">Home</a></li>
                <li><a href="{{ path('app_profile') }}">Dashboard</a></li>
                <li>Lecture</li>
            </ol>
            <h2>Fiche de candidature</h2>
        </div>
    </section><!-- End Breadcrumbs -->
    <section class="inner-page">
        <div class="container">
            <div class="col-md-12">
                <table class="table">
                    <tbody>
                        <tr>
                            <th>Name</th>
                            <td>{{ candidature.name }}</td>
                        </tr>
                        <tr>
                            <th>Motivation</th>
                            <td>{{ candidature.motivation }}</td>
                        </tr>
                        <tr>
                            <th>Envoyé le</th>
                            <td>{{ candidature.createdAt ? candidature.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</main>
{% endblock %}
