{{ form_start(form) }}
<div class="container">
  <div class="row">
    <div class="col-md-9">
      {{ form_row(form.email) }}
      {{ form_row(form.firstname) }}
      {{ form_row(form.lastname) }}
      {{ form_row(form.telephone) }}
    </div>
    <div class="col-md-3">
      <h2>Votre photo</h2>
      {{ form_row(form.files) }}
      {% if app.request.attributes.get('_route') == 'app_profile_edit' %}
        {% for image in user.files %}
          {% if image.type == 1 %}
            <div class="toto-image
                      {% if user.avatar == image %}
                      section-bg
                      {% endif %}
                      "
            >
              {% if user.avatar == image %}
                <div class="row">
                    <div class="col-md-6">
                        <img class="m-2" src="{{ asset('/uploads/'~image.name) }}" alt="{{ image.nameFile }}" width="100">
                    </div>
                    <div class="col-md-6 d-flex">
                        <p class="mt-auto">Avatar actuel</p>
                    </div>
                </div>
              {% else %}

                <div class="row">
                  <div class="col-md-6">
                      <img class="m-2" src="{{ asset('/uploads/'~image.name) }}" alt="{{ image.nameFile }}" width="100">
                  </div>
                  <div class="col-md-6 d-flex">
                      <a class="btn-sm btn-success mt-auto" href="{{ path('app_profile_default_avatar', {id: image.id, userId : app.user.id}) }}"><i class="bi bi-check-lg"></i></a>
                      <a class="btn-sm btn-danger mt-auto" href="{{ path('user_delete_files', {id: image.id}) }}" data-delete data-token="{{ csrf_token('delete' ~ image.id ) }}"><i class="bi bi-trash"></i></a>
                  </div>
                </div>
              {% endif %}
            </div>
          {% endif %}
        {% endfor %}
      {% endif %}
    </div>
  </div>
  <input type="submit" value="Enregistrer" class="bouton solid"/>
</div>
{{ form_end(form) }}

<style>
  .toto-image {

  }
</style>
