{% extends 'base.html.twig' %}

{% block title %}Données personnelles de {{ app.user.firstname }} {{ app.user.lastname }}{% endblock %}

{% block body %}
    <main id="main">
        <!-- ======= Breadcrumbs ======= -->
        <section id="breadcrumbs" class="breadcrumbs">
            <div class="container">
                <ol>
                    <li><a href="{{ path('app_home') }}">Home</a></li>
                    <li>Dashboard</li>
                </ol>
                <h1>Données personnelles de {{ app.user.fullname }}</h1>
            </div>
        </section><!-- End Breadcrumbs -->
        <section id="portfolio-details" class="portfolio-details">
        <div class="container">
            <div class="row gy-4">
                {% for message in app.flashes('message') %}
                    <div class="col-xs4">
                        <div class="p-3 my-2 rounded-2 success">{{ message }}</div>
                    </div>
                {% endfor %}
                <div class="col-lg-6">
                    <div class="portfolio-info">
                        <h3>Identité</h3>
                        Nom: {{ app.user.lastname }}<br>
                        Prénom: {{ app.user.firstname }}<br>
                        Email: {{ app.user.email }}<br>
                        Date de naissance: {{ app.user.profile.birthdate|date('d-m-Y') }}<br>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="portfolio-description">
                        <h2>Présentation</h2>
                        {% if app.user.profile is not empty %}
                            <p>Description: {{ app.user.profile.description }}<br>
                            </p>
                        <h2>Adresse</h2>
                            <p>{{ app.user.profile.city }}<br>
                               {{ app.user.profile.zipcode }}<br>
                                {{ app.user.profile.departement }}<br>
                            </p>
                            <h2>Profil</h2>
                            <p>Diplôme: {{ app.user.profile.diplome }}<br>
                                Expériences: {{ app.user.profile.experiences }}<br>
                                Métiers: {{ app.user.profile.metiers }}<br>
                            </p>
                        {% endif %}
                    </div>
                </div>
                <div class="col-md-4">
                    <a href="{{ path('data_download') }}" class="btn btn-primary">Télécharger les données</a>
                </div>
            </div>
        </div>
    </section><!-- End Portfolio Details Section -->
    </main>
{% endblock %}