{% extends 'base.html.twig' %}

{% block javascripts %}

{% endblock %}

{% block title %}Modification de mot de passe{% endblock %}

{% block body %}
<main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">
            <ol>
                <li><a href="{{ path('app_home') }}">Home</a></li>
                <li><a href="{{ path('app_profile') }}">Dashboard</a></li>
                <li><a href="{{ path('entreprise_index') }}">Entreprises</a></li>
                <li>Répértoire</li>
            </ol>
            <h1>Modification du mot de passe</h1>
        </div>
    </section><!-- End Breadcrumbs -->
    <section class="inner-page">
       <div class="container">
        {% for message in app.flashes('error') %}
            <div class="col-xs4">
                <div class="p-3 my-2 rounded-2 error">{{message}}</div>
            </div>
        {% endfor %}
        <div class="col-xs4">
            <h1>{{ app.user.firstname }} {{ app.user.lastname }} vous êtes sur le point de modifier votre mot de passe</h1>
            <form method="post">
                <div class="form-field">
                    <label for="pass">Mot de passe actuel</label>
                    <input type="password" id="oldPass" name="oldPass" class="form-control">
                </div>
                <div class="form-field">
                    <label for="pass">Nouveau mot de passe</label>
                    <input type="password" id="pass" name="password" class="form-control">
                </div>
                <div class="form-field">
                    <label for="pass2">Confirmer le mot de passe</label>
                    <input type="password" id="pass2" name="password2" class="form-control">
                </div>
                <button class="btn btn-primary">Valider</button>
            </form>
        </div>

    </div>
    </section>
</main>
{% endblock %}
