{% extends 'base.html.twig' %}

{% block title %}{{ app.user.fullname|capitalize }} | Profile{% endblock %}

{% block body %}
    <main id="main">
        <!-- ======= Breadcrumbs ======= -->
        <section id="breadcrumbs" class="breadcrumbs">
            <div class="container">
                <ol>
                    <li><a href="{{ path('app_home') }}">Home</a></li>
                    <li>Dashboard</li>
                </ol>
                <h1>Tableau de bord</h1>
            </div>
        </section><!-- End Breadcrumbs -->
        <section class="inner-page">
            <div class="container">
                <div class="row">
                    <div class="col-md-9">
                        {% if app.user.isSuperAdmin() %}
                        <div class="row row-cols-3 g-lg-3">
                            <a class="text-white" href="{{ path('agenda_index') }}"><div class="col"><div class="p-3 border" style="background-color: #0466c8"><i class="bi bi-calendar4-event m-2"></i>Agenda</div></div></a>
                            <a class="text-white" href="{{ path('annonce_index') }}"><div class="col"><div class="p-3 border" style="background-color: #0353a4"><i class="bi bi-megaphone m-2"></i>Annonces</div></div></a>
                            <a class="text-white" href="{{ path('annuaire_index') }}"><div class="col"><div class="p-3 borde" style="background-color: #023e7d"><i class="bi bi-collection m-2"></i>Annuaire</div></div></a>
                            <a class="text-white" href="{{ path('blog_index') }}"><div class="col"><div class="p-3 border" style="background-color: #0353a4"><i class="bi bi-newspaper m-2"></i>Blog</div></div></a>
                            <a class="text-white" href="{{ path('candidature_index') }}"><div class="col"><div class="p-3 border" style="background-color: #002855"><i class="bi bi-person-lines-fill m-2"></i>Candidatures</div></div></a>
                            <a class="text-white" href="{{ path('dictionnaire_index') }}"><div class="col"><div class="p-3 border" style="background-color: #001845"><i class="bi bi-book m-2"></i>Dictionnaire</div></div></a>
                            <a class="text-white" href="{{ path('email_index') }}"><div class="col"><div class="p-3 border" style="background-color: #001233"><i class="bi bi-at m-2"></i>Emails</div></div></a>
                            <a class="text-white" href="{{ path('entreprise_index') }}"><div class="col"><div class="p-3 border" style="background-color: #33415c"><i class="bi bi-building m-2"></i>Entreprises</div></div></a>
                            <a class="text-white" href="{{ path('facture_index') }}"><div class="col"><div class="p-3 border" style="background-color: #5c677d"><i class="bi bi-file-earmark-spreadsheet m-2"></i>Factures</div></div></a>
                            <a class="text-white" href="{{ path('modele_offre_commerciale_index') }}"><div class="col"><div class="p-3 border" style="background-color: #7d8597"><i class="bi bi-clipboard-check m-2"></i>Modèle offres commerciales</div></div></a>
                            <a class="text-white" href="{{ path('page_index') }}"><div class="col"><div class="p-3 border" style="background-color: #979dac"><i class="bi bi-file-earmark-break m-2"></i>Pages</div></div></a>
                            <a class="text-white" href="{{ path('menu_index') }}"><div class="col"><div class="p-3 border" style="background-color: #0466c8"><i class="bi bi-menu-app m-2"></i>Menus</div></div></a>
                            <a class="text-white" href="{{ path('profile_index') }}"><div class="col"><div class="p-3 border" style="background-color: #0353a4"><i class="bi bi-people m-2"></i>Utilisateurs</div></div></a>
                        </div>
                        {% endif %}
                        {% if app.user.isSuperRecruteur() %}
                        <div class="row row-cols-3 g-lg-3">
                            <a class="text-white" href="{{ path('annonce_index') }}"><div class="col"><div class="p-3 border" style="background-color: #014f86"><i class="bi bi-megaphone m-2"></i>Annonces</div></div></a>
                            <a class="text-white" href="{{ path('candidature_index') }}"><div class="col"><div class="p-3 border" style="background-color: #2a6f97"><i class="bi bi-person-lines-fill m-2"></i>Candidatures</div></div></a>
                            <a class="text-white" href="{{ path('entreprise_index') }}"><div class="col"><div class="p-3 border" style="background-color: #01497c"><i class="bi bi-building m-2"></i>Entreprises</div></div></a>
                        </div>
                        {% endif %}
                        {% if app.user.isRecruteur() %}
                        <div class="row row-cols-3 g-lg-3">
                            <a class="text-white" href="{{ path('annonce_index') }}"><div class="col"><div class="p-3 border" style="background-color: #014f86"><i class="bi bi-megaphone m-2"></i>Annonces</div></div></a>
                            <a class="text-white" href="{{ path('candidature_index') }}"><div class="col"><div class="p-3 border" style="background-color: #2a6f97"><i class="bi bi-person-lines-fill m-2"></i>Candidatures</div></div></a>
                        </div>
                        {% endif %}
                        {% if app.user.isCandidat() %}
                        <div class="row row-cols-3 g-lg-3">
                            <a class="text-white" href="{{ path('annonce_favoris') }}"><div class="col"><div class="p-3 border" style="background-color: #014f86"><i class="bi bi-clipboard-check m-2"></i>Ma selection d'offres</div></div></a>
                            <a class="text-white" href="{{ path('candidature_index') }}"><div class="col"><div class="p-3 border" style="background-color: #2a6f97"><i class="bi bi-person-lines-fill m-2"></i>Mes candidatures</div></div></a>
                            <a class="text-white" href="{{ path('annonce_index') }}"><div class="col"><div class="p-3 border" style="background-color: #014f86"><i class="bi bi-clipboard-check m-2"></i>Offres en adéquation avec mon profil</div></div></a>
                        </div>
                        {% endif %}
                    </div>
                    <div class="col-md-3 text-center d-flex flex-column">
                        {% if user.files|length %}
                            <img class="rounded-circle mx-auto " style="width:150px" src="{{ asset(user.getUrlLastFile()) }}" alt="{{ user.getNameLastFIle() }}">
                        {% endif %}
                        <div>
                            <span class="bg-secondary p-1 px-4 rounded text-white">
                            {{ app.user.getRoleName() }}
                            </span>
                        </div>

                        <b class="p-1">{{ app.user.getFullname()|upper }}</b>
                        <a href="{{ path('user_data', {id: user.id}) }}" class="btn-sm text-white mb-1" style="background-color: #023047"><i class="bi bi-eye m-2"></i>Voir mon profil complet</a>
                        {% if app.user.isCandidat() %}
                        <a href="{{ path('app_profile_edit') }}" class="btn-sm text-white mb-1" style="background-color:#219ebc"><i class="bi bi-pencil-square m-2"></i>Mettre à jour mes infos de connexion</a>
                        {% endif %}
                        {% if app.user.profile is empty %}
                            <a href="{{ path('profile_new', {id: user.id}) }}" class="btn-sm text-white mb-1" style="background-color: #023047"><i class="bi bi-file-earmark-person"></i>Compléter mon profil</a>
                        {% else %}
                            <a href="{{ path('profile_edit', {id: user.id}) }}" class="btn-sm text-white mb-1" style="background-color: #ffb703"><i class="bi bi-pen m-2"></i>Mettre à jour mon profil</a>
                        {% endif %}
                        <a class="btn-sm text-white mb-1" style="background-color: #fb8500" href="{{ path('pass_modifier', {id: user.id}) }}"><i class="bi bi-upc m-2"></i>Changer le mot de passe</a>
                        <a class="btn-sm text-white mb-1" style="background-color: red" href="#"><i class="bi bi-upc m-2"></i>Supprimer le compte</a>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}