{% extends 'base.html.twig' %}

{% block title %}{{ app.user.fullname|capitalize }} | Profile{% endblock %}

{% block body %}
    <main id="main">
        <!-- ======= Breadcrumbs ======= -->
        <section id="breadcrumbs" class="breadcrumbs">
            <div class="container">
                <ol>
                    <li><a href="{{ path('app_home') }}">Home</a></li>
                    <li>Dashboard</li>
                </ol>
                <h1>Tableau de bord</h1>
            </div>
        </section><!-- End Breadcrumbs -->
        <section class="inner-page">
            <div class="container">
                <div class="row">
                    <div class="col-md-9">
                        <h3>Gestion des tâches</h3>
                        {% if app.user.isSuperAdmin() %}
                        <div class="row row-cols-3 g-lg-3">
                            <div class="col"><div class="p-3 border bg-light"><a href="{{ path('menu_index') }}">Menus</a></div></div>
                            <div class="col"><div class="p-3 border bg-light"><a href="{{ path('page_index') }}">Pages</a></div></div>
                            <div class="col"><div class="p-3 border bg-light"><a href="{{ path('entreprise_index') }}">Entreprises</a></div></div>
                            <div class="col"><div class="p-3 border bg-light"><a href="{{ path('annonce_index') }}">Annonces</a></div></div>
                            <div class="col"><div class="p-3 border bg-light"><a href="{{ path('candidature_index') }}">Candidatures</a></div></div>
                            <div class="col"><div class="p-3 border bg-light"><a href="{{ path('modele_offre_commerciale_index') }}">Modèle offres commerciales</a></div></div>
                            <div class="col"><div class="p-3 border bg-light"><a href="{{ path('facture_index') }}">Factures</a></div></div>
                            <div class="col"><div class="p-3 border bg-light"><a href="{{ path('dictionnaire_index') }}">Dictionnaire</a></div></div>
                            <div class="col"><div class="p-3 border bg-light"><a href="{{ path('annuaire_index') }}">Annuaire</a></div></div>
                            <div class="col"><div class="p-3 border bg-light"><a href="{{ path('agenda_index') }}">Agenda</a></div></div>
                            <div class="col"><div class="p-3 border bg-light"><a href="{{ path('email_index') }}">Emails</a></div></div>
                        </div>
                        {% endif %}
                        {% if app.user.isSuperRecruteur() %}
                        <div class="row row-cols-3 g-lg-3">
                            <div class="col"><div class="p-3 border bg-light"><a href="{{ path('annonce_index') }}">Annonces</a></div></div>
                            <div class="col"><div class="p-3 border bg-light"><a href="{{ path('candidature_index') }}">Candidatures</a></div></div>
                            <div class="col"><div class="p-3 border bg-light"><a href="{{ path('entreprise_index') }}">Entreprises</a></div></div>
                        </div>
                        {% endif %}
                        {% if app.user.isRecruteur() %}
                        <div class="row row-cols-3 g-lg-3">
                            <div class="col"><div class="p-3 border bg-light"><a href="{{ path('annonce_index') }}">Annonces</a></div></div>
                            <div class="col"><div class="p-3 border bg-light"><a href="{{ path('candidature_index') }}">Candidatures</a></div></div>
                        </div>
                        {% endif %}
                        {% if app.user.isCandidat() %}
                        <div class="row row-cols-3 g-lg-3">
                            <div class="col"><div class="p-3 border bg-light"><a href="{{ path('candidature_index') }}">Mes candidatures</a></div></div>
                            <div class="col"><div class="p-3 border bg-light"><a href="{{ path('menu_index') }}">Offres en adéquation avec mon profil</a></div></div>
                            <div class="col"><div class="p-3 border bg-light"><a href="{{ path('menu_index') }}">Offres sélectionnées</a></div></div>
                        </div>
                        {% endif %}
                    </div>
                    <div class="col-md-3 text-center d-flex flex-column">
                        <h3>Profile</h3>
                        {% if user.files|length %}
                            <img class="rounded-circle mx-auto " style="width:150px" src="{{ asset(user.getUrlLastFile()) }}" alt="{{ user.getNameLastFIle() }}">
                        {% endif %}
                        <div>
                            <span class="bg-secondary p-1 px-4 rounded text-white">
                            {{ app.user.getRoleName() }}
                            </span>
                        </div>

                        <b class="p-1">{{ app.user.getFullname()|upper }}</b>
                        <a href="{{ path('app_profile', {id: user.id}) }}" class="btn btn-primary px-4 ms-3 m-3">Voir mon profile complet</a>
                        <a href="{{ path('app_profile_edit') }}" class="btn btn-primary px-4 ms-3 m-3">Mettre à jour mes infos de connexion</a>
                        {% if app.user.profile is empty %}
                            <a href="{{ path('profile_new', {id: user.id}) }}" class="btn btn-primary px-4 ms-3 m-3">Compléter mon profile</a>
                        {% else %}
                            <a href="{{ path('profile_edit', {id: user.id}) }}" class="btn btn-primary px-4 ms-3 m-3">Mettre à jour mon profile</a>
                        {% endif %}
                        <a class="btn btn-primary px-4 ms-3 m-3" href="{{ path('pass_modifier', {id: user.id}) }}">Changer le mot de passe</a></>

                        {% if not app.user.isCandidat() %}
                            <div>
                                {{ app.user.getOneRecruteurEntreprise()|raw }}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}