<div class="list-group"><a
            {% if app.request.attributes.get('_route') == 'profile_index'%}
                class="list-group-item list-group-item-action active"
            {% else %}
                class="list-group-item list-group-item-action"
            {% endif %}
            href="{{ path('profile_index') }}">Utilisateurs (tous)</a>
</div>
<div class="list-group"><a
            {% if app.request.attributes.get('_route') == 'candidats'%}
                class="list-group-item list-group-item-action active"
            {% else %}
                class="list-group-item list-group-item-action"
            {% endif %}
            href="{{ path('candidats') }}">Candidats</a>
</div>
<div class="list-group"><a
            {% if app.request.attributes.get('_route') == 'recruteurs'%}
                class="list-group-item list-group-item-action active"
            {% else %}
                class="list-group-item list-group-item-action"
            {% endif %}
            href="{{ path('recruteurs') }}">Recruteurs</a>
</div>
<div class="list-group"><a
            {% if app.request.attributes.get('_route') == 'super-recruteurs'%}
                class="list-group-item list-group-item-action active"
            {% else %}
                class="list-group-item list-group-item-action"
            {% endif %}
            href="{{ path('super-recruteurs') }}">Super Recruteurs</a>
</div>
<div class="list-group"><a
            {% if app.request.attributes.get('_route') == 'user-attente'%}
                class="list-group-item list-group-item-action active"
            {% else %}
                class="list-group-item list-group-item-action"
            {% endif %}
            href="{{ path('user-attente') }}">En attente</a>
</div>

