{% extends 'base.html.twig' %}

{% block title %}Profiles des super recruteurs{% endblock %}

{% block body %}
    <main id="main">
        <!-- ======= Breadcrumbs ======= -->
        <section id="breadcrumbs" class="breadcrumbs">
            <div class="container">
                <ol>
                    <li><a href="{{ path('app_home') }}">Home</a></li>
                    <li><a href="{{ path('app_profile') }}">Dashboard</a></li>
                    <li><a href="{{ path('page_index') }}">Utilisateurs</a></li>
                    <li>Répértoire</li>
                </ol>
                <h1>Gestion des super recruteurs</h1>
            </div>
        </section><!-- End Breadcrumbs -->
        <section class="inner-page">
            <div class="container">
                <div class="row">
                    <div class="col-md-2">
                        <div class="d-flex flex-column">
                            {{ include('user/menu_all.html.twig') }}
                        </div>
                    </div>
                    <div class="col-md-10">
                        <table class="table" id="datatable">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Role</th>
                                <th>Email</th>
                                <th>Entreprises</th>
                                <th>Recruteurs</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for user in users %}
                                <tr>
                                    <td>
                                        {{ user.fullname|capitalize }}
                                    </td>
                                    <td>{{ user.roleName|capitalize }}</td>
                                    <td>{{ user.email }}</td>
                                    <td>
                                        {% for entreprise in user.entreprises %}
                                            <a href="{{ path('entreprise_show', {id: entreprise.id, slug: entreprise.slug}) }}">{{ entreprise.name }}</a>
                                        {% endfor %}
                                    </td>
                                    <td>

                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="16">no records found</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}
