{% extends 'base.html.twig' %}

{% block title %}Recruteurs{% endblock %}

{% block body %}
<main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">
            <ol>
                <li><a href="{{ path('app_home') }}">Home</a></li>
                <li><a href="{{ path('app_profile') }}">Dashboard</a></li>
                <li>Répértoire</li>
            </ol>
            <h2>Gestion des recruteurs</h2>

        </div>
    </section><!-- End Breadcrumbs -->
    <section class="inner-page">
        <div class="container">
            <table class="table" id="datatable">
                <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Entreprises</th>
                    </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user.fullname }}</td>
                        <td>{{ user.entreprises|join() }}</td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="4">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {#<a href="{{ path('user_creation_new') }}" class="btn btn-primary btn-sm mt-1">Ajouter</a>#}
        </div>
    </section>
</main>
{% endblock %}
